{% load date_tag %}
{% load repeat_tag %}
<a class="feed-item h-entry" href="{{ url }}" aria-label="{{ type }}: {{ title }}" title="{{ type }}: {{ title }}" data-type="{{ type|lower }}">
    {% if image %}
        <div class="image" style="background-image: url('https://beatonma.org/media/{{ image }}')"></div>
    {% else %}
        <div class="image" style="{% include 'v2/feed/themeable-style.template.html' %}">
            <div class="title-as-image">
            {% for n in 5|range %}{{ title }}{{" "}}{% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="text">
        <div class="row">
            <h3 class="title p-name">{{ title }}</h3>
            <div class="date" datetime="{{ date }}">{{ date|minimaldate }}</div>
        </div>
        <div class="description p-summary">{{ description|default:"" }}</div>
    </div>
</a>