@use "v2/layout";
@use "v2/theme";

$content-margin-horizontal: 32px;
$content-margin-vertical: 16px;
$content-margin-horizontal-min: 8px;

$content-margins-horizontal-total: calc(#{$content-margin-horizontal} * 2);

$content-max-width: 1686px;

%screen-margins {
    padding-left: $content-margin-horizontal;
    padding-right: $content-margin-horizontal;
    transition: padding theme.$animation-duration;

    @include theme.on-medium-width() {
        padding-left: $content-margin-horizontal-min;
        padding-right: $content-margin-horizontal-min;
    }
}

body {
    margin-top: $content-margin-vertical;
    margin-bottom: $content-margin-vertical;
}

main {
    margin-top: $content-margin-vertical;
    margin-bottom: 4rem;
}

main,
footer {
    @extend %screen-margins;
    @extend %center;
}

@function contentWidth($width) {
    @return calc(#{$width} + #{$content-margins-horizontal-total});
}

#content {
    @extend %center;
    max-width: $content-max-width;
}

#related {
    #related_media,
    #mentions {
        @extend %screen-margins;
        @extend %margin-large-bottom;
    }
}

footer {
    margin-top: 6rem;
    margin-bottom: 2rem;

    > * {
        @extend %center;
        max-width: $content-max-width;
    }

    .footer-links {
        @include layout.row($horizontal: center, $gap: 1ch);
        @extend %text-small;
    }
}
