@use "../constants";

.webmention-tester-form {
    width: 95vw;
    margin: 32px 0;
    padding: 32px 8px;
    border: 2px solid var(--text-tertiary);
    border-radius: 0;
    border-left: none;
    border-right: none;
    transition: all 300ms;
}

.webmention-tester-form > input[type="text"] {
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    transition: all 300ms;
    margin-right: 0;
}

@media screen and (min-width: $screen-narrow) {
    .webmention-tester-form {
        margin: 32px auto;
        width: auto;
        border: 2px solid var(--text-tertiary);
        // border: 2px solid var(--text-tertiary);
        border-radius: 1rem;
        // transition: all 300ms;
    }
}

@media screen and (min-width: $screen-mid) {
    .webmention-tester-form {
        padding: 32px 48px;
        margin: 32px auto;
        width: fit-content;
    }

    .webmention-tester-form > input[type="text"] {
        width: auto;
        min-width: 400px;
        margin-right: 16px;
    }
}

.webmention-tester-temp .dropdown-title {
    font-size: 0.9rem;
}

.webmention-tester-temp .dropdown {
    margin-bottom: 4px;
}

.webmention-tester-temp-label {
    color: var(--accent);
}

.webmention-tester-temp .fail {
    color: var(--warn);
}

.webmention-tester-status-content {
    font-family: monospace;
    font-size: 0.9rem;
}

table.webmention-tester-status {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
}

table.webmention-tester-status td {
    vertical-align: baseline;
    padding: 4px 8px 8px 0;
}

table.webmention-tester-status td:first-child {
    text-align: end;
}

table.webmention-tester-status {
    margin-bottom: 16px;
}

.material-icons.refresh {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
