<div class="flex-row-start nowrap">
    <div class="app-icon"  aria-label="Icon for app '{{ app.title }}'" alt="Icon for app '{{ app.title }}'" {% if app.icon %}style="background-image:url('{{ app.icon.url }}');">{% else %}>{{ app.app_type.icon_svg|safe }}{% endif %}</div>
    <div class="content">
        <div class="flex-row-start group baseline">
            <h2 class="app-title">{{ app.title }}</h2>
            <div> for {{ app.app_type }}</div>
        </div>
        <div class="app-tagline">{{ app.tagline }}</div>
        {% include 'app/app-links-full.template.html' %}
        <div class="app-tags">{% include 'tags.template.html' with tags=app.get_tags %}</div>
        {% if app.project %}<div class="app-project">{{ app.project }}</div>{% endif %}
    </div>
</div>