{% extends 'base.template.html' %}

{% block title %}Apps - beatonma.org{% endblock %}

{% block content %}
<section>
    <h1>Apps</h1>

    {% regroup apps by app_type as grouped_apps %}

    {% for group in grouped_apps %}
    <div class="card">
        <div class="card-content">
            <h3>{{ group.grouper }}</h3>
            <div class="flex-row-start">
                {% include 'app/app-list.template.html' with app_list=group.list %}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}