{% if app_links_by_type %}
<div class="vgroup">
    {% if app_links_by_type.instances %}
    <div class="flex-row-start group baseline">
        <label>Live instance:</label>
        {% for link in app_links_by_type.instances %}
        <div class="download instance"><a class="chip" href="{{ link.url }}">{{ link.host.name }}</a></div>{% if not forloop.last %}{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if app_links_by_type.installs %}
    <div class="flex-row-start group baseline">
        <label>Install:</label>
        {% for link in app_links_by_type.installs %}
        <div class="download install"><a class="chip" href="{{ link.url }}">{{ link.host.name }}</a></div>{% if not forloop.last %}{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if app_links_by_type.sources %}
    <div class="flex-row-start group baseline">
        <label>Source:</label>
        {% for link in app_links_by_type.sources %}
        <div class="download source"><a class="chip" href="{{ link.url }}">{{ link.host.name }}</a></div>{% if not forloop.last %}{% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}