{% extends '../fragments/preview-small.fragment.html' %}
{% block href %}{{ app.get_absolute_url }}{% endblock %}
{% block image_class %}related-app-icon{% endblock %}
{% block image_attrs %}
style="border-color:{{ app.accent_color }};{% if app.icon %}background-image:url('{{ app.icon.url }}');{% endif %}"
{% endblock %}
{% block image_content %}{% if not app.icon %}{{ app.app_type.icon_svg|safe }}{% endif %}{% endblock %}
{% block label %}Link to app '{{ app.title }}'{% endblock %}
{% block content %}
<div class="related-app-name p-name">{{ app.title }}</div>
<div class="tooltip">
    <div class="icon fill related-app-type app-type-{{ app.app_type }}">{{ app.app_type.icon_svg|safe }}</div>
    <div class="tooltip-popup">{{ app.app_type.tooltip }}</div>
</div>
{% endblock %}
