{% extends 'base.template.html' %}
{% load static %}
{% load admin_urls %}
{% block title %}{{ app.title }} - beatonma.org{% endblock %}
{% block description %}{{ app.tagline }}{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div class="header-row">
    <a class="header-item noanim" href="{% url 'admin:main_app_change' app.pk %}">Edit</a>
    <a class="header-item noanim" href="{% url 'admin:main_changelog_add' %}">Add changelog</a>
</div>{% endif %}
<div class="card-container">
    <section>
        <div class="card">
            <div class="card-content">
                {% include 'app/about-app.template.html' %}
            </div>
        </div>

        {% include 'fragments/image-viewer.fragment.html' %}

        {% if changelogs %}
        <div class="card">
            <div class="card-content">
                <h3>Changelog:</h3>
                {% include 'app/changelog.template.html' %}
            </div>
        </div>
        {% endif %}
    </section>

    {% if articles %}
    <section>
        <div id="related_posts">
            <h3>Related posts:</h3>
            {% include 'article/article-list.fragment.html' %}
        </div>
    </section>
    {% endif %}

    <section>
        <div class="flex-row-start">
            <div id="mentions"></div>
        </div>
    </section>
</div>
{% endblock %}