{% extends 'base.template.html' %}
{% load static %}
{% load admin_urls %}
{% block title %}{{app.title}} - beatonma.org{% endblock %}
{% block html_head %}
<meta name="description" content="{{ app.tagline }}">
{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div class="header-row">
    <a class="header-item noanim" href="{% url 'admin:main_app_change' app.pk %}">Edit</a>
    <a class="header-item noanim" href="{% url 'admin:main_changelog_add' %}">Add changelog</a>
</div>{% endif %}
<div class="card-container flex-col">
    <div class="card">
        <div class="card-content">
            {% include 'app/about-app.template.html' %}
        </div>
    </div>

    {% if changelogs %}
    <div class="card">
        <div class="card-content">
            <h3>Changelog:</h3>
            {% include 'app/changelog.template.html' %}
        </div>
    </div>
    {% endif %}

    {% if articles %}
    <div class="card wrap">
        <div class="card-content">
            <h3>Related posts:</h3>
            {% include 'article/article-list.fragment.html' %}
        </div>
    </div>
    {% endif %}

    <div class="card-container flex-row-start">
        <div id="mentions"></div>
    </div>

</div>
{% include 'webmention/webmention.template.html' %}
{% endblock %}