{% load date_tag %}
<div class="note h-entry">
    <div class="e-content">{{ note.content_html|safe }}</div>
    <time class="dt-published label" datetime="{{ note.created_at|date }} {{ note.created_at|time }}" title="{{ note.created_at|date }} {{ note.created_at|time }}">
        {{ note.created_at|minimaltime }}
    </time>
    {% if media.url %}
        <div class="note-media-wrapper">
            {% if media.type == "video" %}
            <a href="{{ media.url }}" title="Open video" class="noanim">
                <video src="{{ media.url }}" alt="{{ media.description }}" aria-label="{{ media.description }}" class="note-media" muted autoplay></video>
            </a>
            {% elif media.type == "audio" %}
            <a href="{{ media.url }}" title="Open audio" class="noanim">
                <audio src="{{ media.url }}" alt="{{ media.description }}" aria-label="{{ media.description }}" class="note-media" controls></audio>
            </a>
            {% else %}
            <a href="{{ media.url }}" title="Open full image" class="noanim">
                <img src="{{ media.url }}" alt="{{ media.description }}" aria-label="{{ media.description }}" class="note-media"/>
            </a>
            {% endif %}
        </div>
    {% endif %}
</div>