{% if links or apps %}
    <div class="related-links">
        <span class="links-title">Links:</span>
        {% for app in apps %}
            <a class="related-app" href="{% url 'app' app.app_id %}">
                <span class="description">App</span>: {{ app.title }}
            </a>
        {% endfor %}

        {% for link in links %}
            <a class="related-link" href="{{ link.url }}">
                {% if link.description %}
                    <span class="description">{{ link.description|capfirst }}</span>: {{ link.host.name }}
                {% else %}
                    {{ link.url|cut:"https://"|cut:"www." }}
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endif %}
