@import 'variables';

article {
    
}

#article_header {
    margin-top: 0;
    margin-bottom: 0;
}

.article-description {
    line-height: $download_icon_size;
}

.article_image {
    height: 40vh !important;
}

.article_title {
    font-size: 36px;
}

.article_abstract {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.5;
    font-size: 1.1em
}

.article_content {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
    padding-bottom: 24px;
}