.bg-contain {
    background-size: contain;
}

.bg-cover {
    background-size: cover;
}

.bg-top {
    background-position-y: 0;
}

.bg-bottom {
    background-position-y: 100%;
}

.bg-left {
    background-position-x: 0;
}

.bg-right {
    background-position-x: 100%;
}
