.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

// Center on small screens, flex-start on large
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// Always center
.flex-row-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// Always flex-start
.flex-row-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

// Always flex-end
.flex-row-end {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.baseline {
    align-items: baseline;
}

@media screen and (min-width:747px) {
    .flex-row {
        justify-content: flex-start;
    }
}

.grid {
    align-items: stretch;
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}