.footer {
    padding: 32px 16px 48px;
    color: var(--text-primary);
}

a.foot-link {
    padding: 4px 8px;
    color: var(--text-tertiary);
}

.foot-icon {
    @extend .icon;
    width: $icon-large;
    height: $icon-large;
    min-width: $icon-large;
    max-width: $icon-large;
    padding: 8px;
    fill: transparent;
    stroke: var(--text-tertiary);
    stroke-width: 2px;
    transition: stroke 200ms, fill 200ms;
    overflow: visible;
}

.foot-icon svg {
    width: $icon-large;
    height: $icon-large;
    min-width: $icon-large;
    max-width: $icon-large;
}

.foot-icon:hover {
    stroke: var(--text-secondary);
    fill: var(--text-primary-invert);
}