footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 16px 48px;
    color: var(--text-primary);
    justify-content: center;
}

a.foot-link {
    padding: 4px 8px;
    line-height: 48px;
    color: var(--text-tertiary);
}

.foot-icon {
    background-size: contain !important;
    height: 36px;
    fill: none;
    stroke: var(--text-tertiary);
    stroke-width: 2px;
    transition: stroke 200ms;
}

.foot-icon:hover {
    stroke: var(--text-secondary);
}