@import 'variables';

html {
    background: var(--tabletop);
    color: var(--text-primary);
    transition: background 300ms;
}

body {
    padding: 0;
    margin: 0;
    font-family: $content-font;
    font-size: $font-size;
    transition: font-size $transition_duration;
    line-height: 1.1;
}

main {
    flex-direction: column;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    text-align: center;
    color: var(--text-primary);
    width: 100%;
    transition: 
        margin $transition_duration ease-in-out,
        width $transition_duration ease-in-out,
        font-size $transition_duration;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
}

a p {
    color: var(--text-primary);
}

button {
    font-family: $font;
}

textarea {
    font-family: $font;
    font-size: 1em;
    resize: vertical;
}

input {
    font-family: $font;
    font-size: 1em;
}

ol, ul {
    font-size: 1em;
    line-height: normal;
}

li {
    font-size: 1em;
}

pre, pre code {
    font-family: 'Roboto Mono', monospace;
    overflow-x: scroll;
    color: var(--code-text);
    background-color: var(--code-background);
}

pre {
    padding: 8px;
    margin-bottom: 2em;
}

code {
    white-space: pre;
}

table {
    border-collapse: collapse;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: auto;
}

td {
    padding: 8px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

@media only screen and (min-width:480px) {
    body {
        font-size: 16px;
        margin: 8px;
        transition: font-size $transition_duration;
    }
    
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
        margin: 0px 0px 16px 0px;
        transition:
            margin $transition_duration ease-in-out,
            width $transition_duration ease-in-out,
            font-size $transition_duration;
    }
}