// Variables that may appear in multiple stylesheets


$title-font: 'Oswald', sans-serif;
$content-font: 'Open Sans', sans-serif;
$font: $content-font;
$font-size: 16px;

$debug_alpha: 0.4;
$main_content_max_width: 1030px;

$transition_duration: 300ms;