*.zip
*.log

node_modules/

# Project-specific
django/
preview/
preview_data.json
*.css
gulpfile.js.bak
svg2svg/
scratch
env/
build/
dist/
*.gitbundle
.eslintrc.json
__pycache__/
*.pyc
.idea/
*.egg-info/
.vscode
