// Download/source section shown at the top of a page that represents an app
.download-links {
    margin: 0 $gap;
}

.download-icon {
    min-width: $download-icon-size;
    height: $download-icon-size;
    width: $download-icon-size;
    stroke-width: 0;
    margin: 2px $smallgap 2px 0;
}

.light.download-icon {
    fill: var(--text-light-secondary);
}

.dark.download-icon {
    fill: var(--text-dark-secondary)
}

.download-icon svg {
    height: $download-icon-size;
    width: $download-icon-size;
    max-width: $download-icon-size;
    max-height: $download-icon-size;
}