.app-icon {
    min-width: 100px;
    max-width: 200px;
    max-height: 200px;
    min-height: 100px;
    width: 15vh;
    height: 15vh;
    margin: 8px;
    border-radius: $corner-radius;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.app-icon img {
    width: 15vh;
    height: 15vh;
    margin: 16px;
    fill: var(--local-primary);
}

.app-title {
    margin-bottom: 0;
}

.app-tagline {
    @extend %tagline;
    margin-bottom: 0.5rem;
}
