article {
}

#article_header {
    margin-top: 0;
    margin-bottom: 0;
}

.article-tagline {
    @extend %tagline;
    margin-bottom: 0;
}

.article-image {
    height: 40vh;
    margin-bottom: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.article-image-preview {
    border-radius: $corner-radius;
}

.article-title {
    text-align: left;
    margin: 0;
}

.article-abstract {
    padding-bottom: 15px;
    padding-top: 15px;
}

.article-content {
    padding: 6px 12px 24px;
}

.article-text {
    line-height: 1.5;
}

.appname {
    color: var(--local-accent);
}

@media screen and (min-width: 800px) {
    .article-content {
        padding: 12px 24px;
    }
}

@media screen and (min-width: $screen-wide) {
    .article-content {
        padding: 24px 72px;
    }
}
