.button {
    @extend %elevated;
    width: max-content;
    cursor: pointer;
    background: var(--local-accent);
    border-radius: $corner-radius;
    padding: 0.5rem 0.75rem;
    margin: 0 $smallgap ($smallgap * 2);
    color: var(--local-on-accent);
    user-select: none;
}
