#beatonma_header {
    transition: all $transition-duration;
}

.header-item {
    color: var(--header-text-color);
    padding: 8px;
    background-color: transparent;
    border-radius: $corner-radius;
    transition: background-color 220ms;
}

.header-item svg {
    fill: var(--header-text-color);
}

.header-item:hover {
    background-color: var(--hover);
}

.title:hover {
    background: none !important;
}

.header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0 $header-row-padding;
    align-items: center;
    color: var(--header-text-color);
}

.header-row-primary {
    @extend .header-row;
    flex-wrap: wrap;
}

.header-row-secondary {
    @extend .header-row;
        justify-content: space-around;
}

@media only screen and (min-width:$screen-narrow) {
    .header-row-secondary {
        justify-content: flex-end;
    }
}