#media_viewer {
    display: flex;
    max-width: $max-card-width;
    transition: width 400ms, height 400ms, background 160ms;
    overflow-x: scroll;
}

#media_viewer_wrapper {
    display: flex;
    transition: width 400ms, height 400ms, background 160ms;
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--text-dark-primary);
    z-index: 1000;
    transition: background $transition-duration;
}

#media_viewer_wrapper.fullscreen {
    align-items: center;
    justify-content: center;
}

.media-viewer-item {
    margin-right: $smallgap;
}

.related-media-description {
    background: var(--text-dark-secondary);
    color: var(--text-light-primary);
    padding: $smallgap;
}

%related-media {
    transition: width 160ms, height 160ms;
}

.related-image {
    @extend %related-media;
}

.related-video {
    @extend %related-media;
}

#media_viewer_wrapper.fullscreen %related-media {
    background: var(--text-light-secondary);
    margin-right: $padding-large;
}

@media (orientation: portrait) {
    %related-media {
        height: 40vh;
        width: auto;
    }

    #media_viewer_wrapper.fullscreen %related-media {
        height: 60vh;
    }
}
@media (orientation: landscape) {
    %related-media {
        height: 25vh;
        width: auto;
    }

    #media_viewer_wrapper.fullscreen %related-media {
        height: 60vh;
    }
}