/*
 * Classes for applying local styles
 */

.item-accent-bg {
    background-color: var(--local-accent);
}

.item-accent-fg {
    color: var(--local-accent);
}

.item-primary-bg {
    background-color: var(--local-primary);
}

.item-primary-fg {
    color: var(--local-primary);
}
