@import "constants";
@import "objects/headers";
@import "objects/inputs";
@import "objects/lists";
@import "objects/tables";
@import "fonts";

html {
    @extend %normaltext;
    background: var(--background);
    transition: background $transition-duration;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.4;
}
@media only screen and (min-width: $screen-narrow) {
    body {
        transition: font-size $transition-duration;
    }
}

p,
.p {
    margin: 0.2rem 0 0.8rem;
}

main {
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--local-accent);
}

a > * {
    color: var(--text-primary);
}

pre,
pre code {
    font-family: "Roboto Mono", monospace;
    overflow-x: scroll;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--code-background);
    color: var(--code-text);
}

pre {
    padding: 8px;
    margin-bottom: 2rem;
}

code {
    white-space: pre;
    background-color: var(--code-background);
    color: var(--code-text);
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
    width: 80%;
    max-width: 200px;
}

label,
.label {
    font-size: $labeltext;
    color: var(--text-secondary);
    font-weight: 600;
}

label:focus {
    outline: none;
}

section {
    margin-bottom: 48px;
}
