.tags {
    @extend %v1-row;
    align-items: center;
    flex-flow: wrap;
}

.tags > * {
    margin-right: $smallgap;
}

.tag {
    font-size: $smalltext;
    color: var(--local-accent);
}

:not(.tags) > .tag {
    font-size: $smalltext;
    margin-right: $smallgap;
    color: var(--local-accent);
}

@media (max-width: $screen-narrow) {
    .tag {
        font-size: $smalltext;
        padding: $smallgap;
        margin: $smallgap;
        background: var(--accent);
        color: var(--on-accent);
        border-radius: $corner-radius;
    }
}
