.mentions {
    margin: 8px 0;
    min-width: 300px;
}

.mention-mini {
    margin: 0 $smallgap $smallgap 0;
    width: fit-content;
}

.mention-quoted {
    margin: 0 0 16px;
}

%avatar {
    border-radius: 2 * $corner-radius;
    background-size: contain;
    background-position: center center;
}

.mention-avatar {
    @extend %avatar;
    min-width: $wm-avatar-default;
    min-height: $wm-avatar-default;
    width: $wm-avatar-default;
    height: $wm-avatar-default;
}

.mention-quoted .mention-avatar {
    min-width: $wm-avatar-large;
    min-height: $wm-avatar-large;
    width: $wm-avatar-large;
    height: $wm-avatar-large;
    margin-right: 12px;
}

.hcard-avatar {
    @extend %avatar;
    min-width: $wm-avatar-large;
    min-height: $wm-avatar-large;
    width: $wm-avatar-large;
    height: $wm-avatar-large;
    margin: auto;
}

.hcard-content {
    font-size: $midtext;
    color: var(--item-accent-foreground);
}

.mention-quote {
    color: var(--text-secondary);
    letter-spacing: 0.05rem;
    font-weight: 600;
}

.mention-byline {
    margin-top: 4px;
}

.mention-name {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-left: $gap;
}

.mention-homepage {
    font-size: $midtext;
}
