<div class="header-row-primary">
<a href="/"><div class="title header-item">beatonma.org</div></a>
<div class="spacer"></div>
<form action="/search" method="get" id="searchform">
    <div class="search-container flex-row collapsing-wrapper nowrap">
        <label id="search_icon" class="header-item icon" for="search" tabindex="0">
            @@include('src/apps/main/templates/svg/search.svg', {"class": "search", "id": ""})
        </label>
        <div class="input-wrapper">
            <input type="text" id="search" name="query" placeholder="Search beatonma.org" aria-label="Search">
        </div>
    </div>
</form>
</div>
<div class="header-row-secondary">
    <a class="header-item" href="/about/">About</a>
    <a class="header-item" href="/contact/">Contact</a>
    <!--build:remove--><a class="header-item" href="/donate/">Donate</a><!--endbuild-->
    {% if user.is_superuser %}<a class=" header-item noanim" href="{% url 'admin:index' %}">Admin</a>{% endif %}
</div>