<div id="app_images">
    {% include 'fragments/loading-spinner.fragment.html' %}
    <template id="image_template">
        <div class="image-viewer-item">
            <img class="app-image"/>
            <div class="app-image-description"></div>
        </div>
    </template>

    <div class="card hidden">
        <div class="card-content">
            <h3>Images:</h3>
            <div id="image_viewer_wrapper">
                <div id="image_viewer"></div>
            </div>
        </div>
    </div>
</div>