<div class="relme tags">
<a rel="me" href="https://beatonma.org" class="u-url" alt="beatonma.org" aria-label="beatonma.org">beatonma.org</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://github.com/beatonma" alt="Github" aria-label="Github">Github</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://play.google.com/store/apps/developer?id=Michael+Beaton" alt="Play Store" aria-label="Play Store">Play Store</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://google.dev/u/108152021615266872014" alt="google.dev profile" aria-label="google.dev profile">google.dev</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://twitter.com/_beatonma" alt="Twitter" aria-label="Twitter">Twitter</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://beatonma.org/feed" class="noanim" alt="RSS feed" aria-label="RSS feed">RSS feed</a><span class="hidden-on-small">&middot;</span>

<a rel="me" href="https://www.last.fm/user/schadenfreude87" aria-label="Last.fm profile page" alt="My listening habits since 2005">last.fm</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://userstyles.org/users/365999" aria-label="Userstyles.org profile page" alt="Custom CSS style overrides">Userstyles</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://starcraft2.com/en-gb/profile/2/1/2784180" aria-label="StarCraft II profile" alt="StarCraft II profile">StarCraft II</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://www.duolingo.com/fallofmath" aria-label="Duolingo profile" alt="Duolingo profile">Duolingo</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://www.thingiverse.com/fallofmath/" aria-label="Thingiverse profile" alt="Thingiverse profile">Thingiverse</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://gravatar.com/beatonma" aria-label="Gravatar profile" alt="Gravatar profile">Gravatar</a><span class="hidden-on-small">&middot;</span>

<a rel="me" href="https://inverness.io" aria-label="Currently redirects to beatonma.org" alt="Currently redirects to beatonma.org">inverness.io</a><span class="hidden-on-small">&middot;</span>
<a rel="me" href="https://snommoc.org" aria-label="Back-end for Commons (Android app)" alt="Back-end for Commons (Android app)">snommoc.org</a>
</div>