<a rel="me" href="https://beatonma.org" class="u-url" alt="beatonma.org" aria-label="beatonma.org">beatonma.org</a>
<a rel="me" href="https://play.google.com/store/apps/developer?id=Michael+Beaton" alt="Play Store" aria-label="Play Store">Play Store</a>
<a rel="me" href="https://github.com/beatonma" class="foot-link" alt="Github" aria-label="Github">Github</a>
<a rel="me" href="https://twitter.com/_beatonma" class="foot-link" alt="Twitter" aria-label="Twitter">Twitter</a>
<a rel="me" href="https://beatonma.org/feed" class="noanim" alt="RSS feed" aria-label="RSS feed">RSS feed</a>

<a rel="me" href="https://www.last.fm/user/schadenfreude87" aria-label="Last.fm profile page">My listening habits since 2005</a>
<a rel="me" href="https://userstyles.org/users/365999" aria-label="Userstyles.org profile page">Custom CSS style overrides</a>
<a rel="me" href="https://starcraft2.com/en-gb/profile/2/1/2784180" aria-label="StarCraft II profile page">StarCraft II</a>
<a rel="me" href="https://www.duolingo.com/fallofmath" aria-label="Duolingo profile page">Duolingo</a>
<a rel="me" href="https://gravatar.com/beatonma" aria-label="Gravatar profile page">Gravatar</a>