{% extends '../fragments/preview-small.fragment.html' %}
{% block href %}{{ article.get_absolute_url }}{% endblock %}
{% block image_class %}article-image-preview {{ article.preview_image_css }}{% endblock %}
{% block image_attrs %}
style="{% if article.preview_image %}background-image:url('{{ article.preview_image.url }}');{% endif %}background-color:{{ article.primary_color }};"
{% endblock %}
{% block label %}Link to article '{{ article.title }}'{% endblock %}
{% block content %}
<h3 class="card-title">{{ article.title }}</h3>
<div>{{ article.preview_text }}</div>
<div class="secondary"><time datetime="{{article.updated|date}}">{{ article.updated|date }}</time></div>
{% endblock %}
