{% extends 'base.template.html' %}
{% load static %}
{% load admin_urls %}
{% block title %}{{ article.title }} - beatonma.org{% endblock %}
{% block html_head %}{{ article.html_head|safe }}{% endblock %}
{% block content %}
{% if user.is_superuser %}<div class="header-row"><a class="header-item noanim" href="{% url 'admin:main_article_change' article.pk %}">Edit</a></div>{% endif %}
<div class="card-container">
    <article class="card h-entry">
        <div class="article-image card-image {{ article.hero_aspect_ratio }} item-primary-bg {{ article.hero_css }}" style="{% if article.hero_image %}background-image:url('{{ article.hero_image.url }}');{% endif %}">
            {{ article.hero_html|safe }}
        </div>
        <div id="article_header" class="card-title-area-raised item-primary-bg {{ article.foreground_color }}">
            <div class="flex-col">
                <h1 class="article-title p-name">{{ article.title }}</h1>
                <div class="flex-row-start">
                    <div class="article-tagline {{ article.foreground_color }} secondary">{{ article.tagline }}</div>
                    <div class="download-links">{% include 'app/app-links-small.template.html' %}</div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="card-timestamp flex-col flex-end {{ article.foreground_color }} secondary">
                <time datetime="{{ article.created|date:'Y-m-d' }}">Posted {{ article.created|date:"d N Y" }}</time>
                {% if article.created|date != article.updated|date %}
                <time datetime="{{ article.updated|date:'Y-m-d' }}">Updated {{ article.updated|date:"d N Y" }}</time>
                {% endif %}
            </div>
        </div>
        <div class="article-content">
            {% if article.abstract %}
            <div class="article-abstract p-summary">
                {{ article.abstract|safe }}
            </div>
            {% endif %}
            
            <div class="article-text e-content">
                {{ article.content_html|safe }}
            </div>
        </div>
        <div class="hidden">
            <a rel="author" class="p-author" href="https://beatonma.org">Michael Beaton</a>
            <a class="u-url" href="https://beatonma.org{{ article.get_absolute_url }}">{{ article.title }}</a>
            <time class="dt-published" datetime="{{ article.created|date:'Y-m-d' }}">{{ article.created|date:"Y-m-d" }}</time>
            <time class="dt-updated" datetime="{{ article.updated|date:'Y-m-d' }}">{{ article.updated|date:"Y-m-d" }}</time>
            {% if article.tweet_id %}<a rel="syndication" class="u-syndication" href="https://twitter.com/_beatonma/status/{{ article.tweet_id }}">Tweet</a>{% endif %}
        </div>
    </article>
</div>

<!-- build:remove -->
<!-- Put stuff related to the article in cards below it -->
<!-- endbuild -->
<div class="card-container flex-row-start">
    {% if apps %}
    <div class="card wrap">
        <div class="card-content">
            <h3>Apps in this post:</h3>
            {% include 'app/app-list.template.html' %}
        </div>
    </div>
    {% endif %}
</div>

<!-- build:remove -->
<!-- This image is included for Feedly but is not visible to users -->
<!-- It is included because we use a <div> with a background instead of an <img> for the
     main article image -->
<!-- endbuild -->
{% if article.preview_image %}<img class="webfeedsFeaturedVisual hidden" src="{{ article.preview_image.url }}"/>{% endif %}
<!-- <script class="onPageChange" type="text/javascript">
    setAccent('{{ article.accent }}', '{{ article.text_color }}');
    loadWebmentions('{{ article.slug }}');
</script> -->
{% endblock %}