<div class="relme">
  <a
    rel="me"
    href="https://beatonma.org"
    title="Homepage"
  >
    beatonma.org
  </a>

  <a
    rel="me"
    href="https://beatonma.org/feed"
    title="RSS feed for beatonma.org"
  >
    RSS feed
  </a>

  <a
    rel="me"
    href="https://github.com/beatonma"
    title="Github"
  >
    Github
  </a>

  <a
    rel="me"
    href="https://pypi.org/user/beatonma/"
    title="PyPi"
  >
    PyPi
  </a>

  <a
    rel="me"
    href="https://play.google.com/store/apps/developer?id=Michael+Beaton"
    title="Play Store"
  >
    Play Store
  </a>

  <a
    rel="me"
    href="https://google.dev/u/108152021615266872014"
    title="google.dev profile"
  >
    google.dev
  </a>

  <a
    rel="me"
    href="https://twitter.com/_beatonma"
    title="Twitter"
  >
    Twitter
  </a>

  <a
    rel="me"
    href="https://www.last.fm/user/schadenfreude87"
    title="Last.fm profile"
  >
    last.fm
  </a>

  <a
    rel="me"
    href="https://bandcamp.com/fallofmath"
    title="Bandcamp profile"
  >
    Bandcamp
  </a>

  <a
    rel="me"
    href="https://userstyles.org/users/365999"
    title="Userstyles.org profile"
  >
    Userstyles
  </a>

  <a
    rel="me"
    href="https://starcraft2.com/en-gb/profile/2/1/2784180"
    title="StarCraft II profile"
  >
    StarCraft II
  </a>

  <a
    rel="me"
    href="https://www.duolingo.com/fallofmath"
    title="Duolingo profile"
  >
    Duolingo
  </a>

  <a
    rel="me"
    href="https://www.thingiverse.com/fallofmath/"
    title="Thingiverse profile"
  >
    Thingiverse
  </a>

  <a
    rel="me"
    href="https://gravatar.com/beatonma"
    title="Gravatar profile"
  >
    Gravatar
  </a>

  <a
    rel="me"
    href="https://inverness.io"
    title="Currently redirects to beatonma.org"
  >
    inverness.io
  </a>

  <a
    rel="me"
    href="https://snommoc.org"
    title="Back-end for Commons (Android app)"
  >
    snommoc.org
  </a>
</div>
