<div class="h-card vcard u-url">
  {% include "./_photo.html" %}
  <div class="fn p-name">Michael Beaton</div>
  <a href="https://beatonma.org" rel="me" class="u-url">beatonma.org</a>
  <img loading="lazy" class="u-logo" src="https://beatonma.org/static/images/mb.png" alt="Logo for beatonma.org" width="64"/>
  <a class="u-email" href="mailto:michael@beatonma.org">Email</a>
  <span class="p-region">Scotland</span>
  <span class="p-country-name">UK</span>
  <time class="dt-bday" datetime="1987-05-16">1987-05-16</time>

  {% include "./_relme.html" %}
</div>
