@use "v2/layout";
@use "v2/theme";
@use "../list";
@use "./feed";

#github_recent {
    @extend %embedded-scrollable-list-container;
}

.github-events {
    @extend %embedded-scrollable-list;
}

.github-group {
    @extend %item-small;
    @extend %margin-medium-horizontal;

    time {
        @extend %text-small;
        color: var(--text-secondary);
    }

    > .github-group-header {
        @include layout.row($vertical: baseline, $gap: 0.5rem);
    }

    > .private {
        @include layout.row($wrap: nowrap);
        @extend %text-small;
        color: var(--text-secondary);

        .material-icons {
            color: var(--text-tertiary);
        }
    }

    span.github-event {
        @extend %margin-small-right;
        @extend %padding-small-horizontal;
        @extend %shape-small;
        @extend %text-small;
        color: var(--text-light);
        background-color: var(--accent-100);
    }

    code {
        @extend %text-small;
    }

    &::after {
        content: "";
        display: block;
        width: 2px;
        background-color: var(--text-tertiary);
        height: 0.5rem;
        margin-top: 2px;
        margin-left: 4px;
    }
}

.github-event-badges {
    display: flex;
    flex-direction: row;
}

.github-commit {
    @include layout.row($wrap: nowrap);
    @extend %font-monospace;
    @extend %text-small;
}

.badge {
    @extend %text-small;
    @extend %margin-small-right;
    @extend %hover;

    display: inline-block;
    border: 1px solid var(--primary-100);
    padding: 2px 8px;
    color: var(--primary);
    font-weight: 600;
}
