@use "../../layout";
@use "../../theme";

$pagination-button-size: 3rem;

.pagination {
    @include layout.row(space-between);
    font-size: var(--fs-h4);

    margin: 16px 0;

    > .pagination-group {
        @include layout.row();

        > * {
            margin: 8px;
        }
    }

    a {
        @extend %hover;
        @include layout.size($pagination-button-size);
        display: inline-block;
        line-height: $pagination-button-size;
        text-align: center;
        font-weight: bold;
    }
}
