@use "../../layout";
@use "../../theme";

.pagination {
    @include layout.row(space-between);

    margin: 16px 0;

    > .pagination-group {
        @include layout.row();

        > * {
            margin: 8px;
        }
    }

    a {
        @extend %hover;
        @include layout.size(2rem);
        display: inline-block;
        line-height: 2rem;
        text-align: center;
        font-weight: bold;
    }
}
