<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'fragments/head/browser.fragment.html' %}
    {% block scripts %}{% include 'fragments/head/scripts.fragment.html' %}{% endblock %}
    {% block theme %}{% include 'fragments/head/theme.fragment.html' %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
      <div id="beatonma_loading" class="progressbar"></div>
      <header id="beatonma_header">
        {% include 'fragments/header.fragment.html' %}
      </header>
      <main>
        {% block main %}
          <div class="container" id="content_wrapper">
            <div id="content">
              {% block content %}{% endblock %}
              <div class="card-container">
                <div class="card h-card wrap">
                  <div class="card-content">
                    {% include 'fragments/hcard.fragment.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}
      </main>
      <footer id="beatonma_footer">
        {% include 'fragments/footer.fragment.html' %}
        <div id="theme_icon" class="icon header-item" title="Toggle theme"></div>
      </footer>
    {% endblock %}
  </body>
</html>
