{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'v1/fragments/head/browser.fragment.html' %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}Software projects by Michael Beaton{% endblock %}" />
    {% block html_head %}{% endblock %}
    
    {% block theme %}{% include 'v1/fragments/head/theme.fragment.html' %}{% endblock %}
    {% block scripts %}{% include 'v1/fragments/head/scripts.fragment.html' %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <div id="loading" class="progressbar"></div>
      <header id="beatonma_header">
        {% include 'v1/fragments/header.fragment.html' %}
      </header>
      <main>
        {% block main %}
          <div class="container" id="content_wrapper">
            <div id="content">{% block content %}{% endblock %}</div>
          </div>
        {% endblock %}
      </main>
      <footer id="beatonma_footer">
        {% include 'v1/fragments/footer.fragment.html' %}
        <div id="theme_icon" class="icon header-item" title="Toggle theme"></div>
      </footer>
    {% endblock %}
  </body>
</html>
