{% extends 'base.template.html' %}

{% block title %}beatonma.org{% endblock %}

{% block content %}
{% if featured %}
<section class="featured">
    {% include 'article/article-grid.fragment.html' with articles=featured %}
</section>
{% endif %}

<section class="recent">
    {% include 'article/article-grid.fragment.html' with articles=recent insert='<div id="github_recent" class="card preview nobackground"></div>' %}
</section>

{% if apps %}
<section class="apps">
    {% include 'app/app-grid.template.html' with app_list=apps %}
</section>
{% endif %}

<section class="tags">

</section>
{% endblock %}
