{% load date_tag %}
<article id="{{ changelog.version_name }}" class="changelog h-entry">
    {% include 'v2/staff/edit-links.html' with target=changelog %}
    <div class="changelog-header">
        <div class="title-bar">
            <h3 class="p-name">{{ changelog.version_name }}</h3>
            <time class="dt-published" datetime="{{ changelog.date }}">{{ changelog.date|minimaldate }}</time>
        </div>

        {% if changelog.tagline %}
            <div class="tagline p-summary">{{ changelog.tagline }}</div>
        {% endif %}

    </div>

    <div class="e-content">
        {{ changelog.content_html|safe }}
    </div>
</article>
