{% extends 'v2/pages/base/scaffold.html' %}
{% load date_tag %}


{% block title %}{{ app.title }}{% endblock %}
{% block description %}{{ app.tagline }}{% endblock %}

{% block content %}
{% include 'v2/staff/edit-links.html' with target=app %}
<section id="app">
  <article class="h-entry" data-type="app">
    {% include "v2/components/image.html" with image_url=app.icon image_svg=app.resolve_icon_svg title=app.title imageclass="contain" themeable=app %}

    <div class="text">
      <div class="toolbar">
        <div class="left">
          <h2 class="title p-name">{{ app.title }}</h2>

          {% include "./_app_type.html" with app_type=app.app_type %}
        </div>

        <div class="right">
          <time class="date" datetime="{{ app.date_published }}">
            {{ app.date_published|minimaldate }}
          </time>
        </div>
      </div>

      {% include "v2/components/links.html" with links=app.links.all %}

      <div class="description e-content">{{ app.description|default:"" }}</div>
    </div>
  </article>
</section>

<section id="related_media"></section>

{% if changelogs %}
<section id="changelog">
  <h2>Changelog</h2>

  {% for changelog in changelogs %}
  {% include "./_changelog.html" %}
  {% endfor %}
</section>
{% endif %}

{% endblock %}

{% block after %}
<div id="mentions"></div>
{% endblock %}}
