{% extends 'v2/pages/posts/_post.html' %}

{% block post_header %}
    {% if post.hero_html %}
        <div class="hero-wrapper">
            {{ post.hero_html|safe }}
        </div>
    {% elif post.hero_image %}
        <div class="hero-wrapper">
            <img
                class="hero {{ post.hero_css|default:'' }}"
                src="{{ post.hero_image.url }}"
                alt=""
            />
        </div>
    {% endif %}
{% endblock %}

{% block links %}
{% include "v2/components/links.html" %}
{% endblock %}
