{% extends 'base.template.html' %}

{% block title %}Search results - beatonma.org{% endblock %}
{% block description %}beatonma.org search results for query '{{ query }}'{% endblock %}
{% block html_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<h3>
{% block result_text %}
{% if not apps and not articles and not notes %}
    No results for '{{ query }}''
{% else %}
    Results for '<span class="accent">{{ query }}</span>':
{% endif %}
{% endblock %}
</h3>

{% if articles %}
<section id="articles">
    <div class="card-container">
        <h1>Articles</h1>
        <div class="card">
            <div class="card-content flex-row grid">
                {% include 'v1/article/article-list.fragment.html' %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if apps %}
<section id="apps">
    <div class="card-container">
        <h1>Apps</h1>
        <div class="card">
            <div class="card-content flex-row grid">
                {% include 'v1/app/app-list.template.html' with app_list=apps %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if notes %}
<section id="notes">
    {% include 'v1/fragments/notes.fragment.html' %}
</section>
{% endif %}
{% endblock %}