@use "v2/theme";
@use "v2/layout";

%buttons-row {
    @extend %nolinks;
    @extend %margin-small-vertical;
    @include layout.row($gap: 0.5em);

    font-variant: all-small-caps;
    line-height: 1.2;

    a {
        @extend %button;
    }
}

.buttons-row {
    @extend %buttons-row;
}

%button {
    @extend %hover;
    @extend %shape-small;
    @extend %padding-link;
    @extend %outlined;
    @extend %text-one-line;

    &[data-selected="true"] {
        color: var(--local-accent);
        border-color: var(--local-accent-100);
    }
}

input[type="button"],
.button {
    @extend %button;
}
