@forward "../shape";
@forward "../animation";

@use "../display";
@use "../layout";

%list-item {
    $height: 3rem;

    @include layout.row($wrap: nowrap);
    @include layout.height($height);
    @extend %shape-small;
    @extend %animate-all;

    margin: 4px;
    overflow: hidden;

    > .image {
        @include layout.size($height);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        > .text-as-image {
            // No actual image available, use some artsy text.
            @include layout.size($height * 2);
            position: relative;
            top: -50%;
            left: -50%;
            letter-spacing: 1.2px;
            font-family: monospace;
            letter-spacing: 2px;
            font-size: xx-large;
            font-size: calc($height / 5);
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            transform: rotate(45deg);
            transform-origin: center;
        }

        > svg {
            margin: 16px;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }
    }

    > .text {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        margin: 16px;

        > .row {
            justify-content: space-between;
            align-items: baseline;

            > .title {
                @include layout.clipped-text(1);
            }
        }

        > .description {
            @include layout.clipped-text(2);
        }
    }
}

%list-item-large {
    $height: 9rem;

    @extend %list-item;
    @include layout.height($height);
    @extend %shape-medium;

    margin: 1rem 0;

    > .image {
        @include layout.size($height);

        > .text-as-image {
            // No actual image available, use some artsy text.
            @include layout.size($height * 2);
            font-size: calc($height / 5);
        }
    }
}

@media (max-width: display.$one-column) {
    %list-item {
        border-radius: 0;
    }
}

@media (max-width: display.$prefer-list) {
    %list-item {
        flex-wrap: wrap;
        min-height: unset;
        max-height: unset;
        height: auto;

        > .image {
            width: 100%;
            max-width: 100%;
            max-height: unset;
            height: auto;
            aspect-ratio: 4/3;

            > .text-as-image {
                // No actual image available, use some artsy text.
                @include layout.size(200%);
                font-size: 10vw;
            }
        }
    }
}

@media (max-width: 700px) {
    %list-item {
        > .text {
            > .row {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

.text-as-image > * {
    // white-space: nowrap;
}
