@forward "../shape";
@forward "../animation";

@use "../display";
@use "../layout";
@use "../scaffold";

$list-item-max-width: 645px;
$list-gap: 18px;

$list-single-column-width: 1000px;
$list-two-column-width: calc(($list-item-max-width * 2) + $list-gap);
$list-three-column-width: calc(($list-item-max-width * 3) + ($list-gap * 2));

%flow-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $list-gap;
    justify-content: flex-start;
    margin: auto;
    max-width: $list-single-column-width;
}

@media (min-width: calc($list-two-column-width + scaffold.$content-margins-horizontal-total)) {
    %flow-list {
        max-width: $list-two-column-width;
    }

    %list-item {
        max-width: $list-item-max-width;
    }
}

@media (min-width: calc($list-three-column-width + scaffold.$content-margins-horizontal-total)) {
    %flow-list {
        max-width: $list-three-column-width;
    }
}

%list-item {
    $height: 3rem;

    @include layout.row($wrap: nowrap);
    @include layout.height($height);
    @extend %shape-small;
    @extend %animate-all;

    width: 100%;

    overflow: hidden;

    > .text {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        margin: 16px;

        > .row {
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: wrap;
            column-gap: 1rem;

            > .title {
                @include layout.clipped-text(1);
            }
        }

        > .description {
            @include layout.clipped-text(2);
        }
    }
}

%list-item-with-image {
    $height: 9rem;

    @extend %list-item;
    @include layout.height($height);
    @extend %shape-medium;

    > .image {
        @include layout.size($height);

        > .text-as-image {
            // No actual image available, use some artsy text.
            @include layout.size($height * 2);
            font-size: calc($height / 5);
        }
    }

    > .image {
        @include layout.size($height);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;

        > .text-as-image {
            // No actual image available, use some artsy text.
            @include layout.size($height * 2);
            position: relative;
            top: -50%;
            left: -50%;
            letter-spacing: 1.2px;
            font-family: monospace;
            letter-spacing: 2px;
            font-size: xx-large;
            font-size: calc($height / 5);
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            transform: rotate(45deg);
            transform-origin: center;
        }

        > svg {
            margin: 16px;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }
    }
}

@media (max-width: display.$one-column) {
    %list-item {
        border-radius: 0;
    }
}

@media (max-width: display.$prefer-vertical-content) {
    // Display as a card when < $prefer-vertical-content.

    %list-item-card {
        flex-wrap: wrap;
        min-height: unset;
        max-height: unset;
        height: auto;

        > .image {
            width: 100%;
            max-width: 100%;
            max-height: unset;
            height: auto;
            aspect-ratio: 4/3;

            > .text-as-image {
                // No actual image available, use some artsy text.
                @include layout.size(200%);
                font-size: 10vw;
            }
        }

        > .text {
            height: auto;
        }
    }

    %list-item-with-image {
        @extend %list-item-card;
    }
}
