@use "../theme";
@use "./list";
@use "./feed/feed";

#notes {
    background-color: var(--hover);
    max-height: feed.heightOfFeedRows(3);

    h3 {
        @extend %padding-medium;
    }
}

.notes {
    @extend %list-vertical-scroll;
}

.note {
    @extend %item-medium;
    @extend %padding-medium;

    time {
        @extend %text-small;
    }

    > .media-wrapper {
        @extend %margin-small;

        .media {
            @extend %shape-medium;
            background-color: var(--hover);
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}
