/**
 * Styles for the main scaffold header, main, footer, and window chrome.
 */

@use "../theme";
@use "../layout";

$content-margin-horizontal: 32px;
$content-margin-vertical: 16px;
$content-margin-horizontal-min: 8px;

$content-margins-horizontal-total: calc($content-margin-horizontal * 2);

$content-max-width: 1686px;

main,
footer {
    @extend %center;
    padding: $content-margin-vertical $content-margin-horizontal;
    transition: padding theme.$animation-duration;
}

@include theme.display-width("small") {
    main,
    footer {
        padding: $content-margin-vertical $content-margin-horizontal-min;
    }
}

@function contentWidth($width) {
    @return calc($width + $content-margins-horizontal-total);
}

#theme_icon {
    @extend %hover;
    @include layout.size(2rem);
}

%main-header-row {
    @extend %nolinks;
    padding: $content-margin-vertical $content-margin-horizontal;
    color: var(--text-primary);

    @include theme.display-width("small") {
        padding: $content-margin-vertical $content-margin-horizontal-min;
    }
}

.header-row-primary {
    @extend %main-header-row;
    @include layout.row(space-between, $wrap: nowrap);

    h1 {
        margin-top: 8px;
    }

    #search_form {
        @include layout.row(flex-end, $wrap: nowrap);

        #search_icon {
            @extend %clickable;
            @extend %icon-medium;
            @extend %padding-small;
            display: inline-block;
        }

        .search-wrapper {
            max-width: 0;
            overflow-x: hidden;
            opacity: 0;

            @include theme.transition(
                (opacity, max-width),
                theme.$animation-duration
            );
        }

        &:focus-within .search-wrapper {
            max-width: 100%;
            opacity: 1;
        }

        input[type="text"] {
            @extend %text-normal;
            margin: 0;
            margin-left: 4px;
            background: var(--input-text-background);
        }
    }
}

.header-row-secondary {
    @extend %main-header-row;
    @include layout.row(flex-end);

    > a {
        @extend %hover;
        @extend %padding-small;
    }
}

#content {
    @extend %center;
    max-width: $content-max-width;
}

#related {
    > * {
        @extend %margin-large-bottom;
    }
}

footer {
    margin-bottom: 110px;

    > * {
        @extend %center;
        max-width: $content-max-width;
    }
}

::selection {
    color: var(--primary-900);
    background-color: var(--primary-100);
}

::-webkit-scrollbar {
    $scrollbar-thickness: 6px;
    width: $scrollbar-thickness;
    height: $scrollbar-thickness;
}
::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--text-secondary);
}
