/**
 * Styles for the main scaffold header, main, footer, and window chrome.
 */

@use "v2/theme";
@use "v2/layout";
@use "./toolbar";

$content-margin-horizontal: 32px;
$content-margin-vertical: 16px;
$content-margin-horizontal-min: 8px;

$content-margins-horizontal-total: calc(#{$content-margin-horizontal} * 2);

$content-max-width: 1686px;
$show-search-max-width: 700px;

%screen-margins {
    padding-left: $content-margin-horizontal;
    padding-right: $content-margin-horizontal;
    transition: padding theme.$animation-duration;

    @include theme.display-width("small") {
        padding-left: $content-margin-horizontal-min;
        padding-right: $content-margin-horizontal-min;
    }
}

body {
    margin-top: $content-margin-vertical;
    margin-bottom: $content-margin-vertical;
}

main {
    margin-top: $content-margin-vertical;
    margin-bottom: $content-margin-vertical;
}

main,
footer {
    @extend %screen-margins;
    @extend %center;
}

@function contentWidth($width) {
    @return calc(#{$width} + #{$content-margins-horizontal-total});
}

#theme_icon {
    @extend %hover;
    @include layout.size(2rem);
}

%main-header-row {
    @extend %screen-margins;
    @extend %nolinks;

    color: var(--text-primary);
}

.header-row-primary {
    @extend %toolbar;
    @extend %main-header-row;
    @extend %margin-medium-bottom;

    h1 {
        margin-top: 8px;
    }

    @include theme.display-max-width($show-search-max-width) {
        flex-direction: column;

        .right {
            width: stretch;
        }
    }

    #search_form {
        @include layout.row(flex-end, $wrap: nowrap);

        #search_icon {
            @extend %clickable;
            @extend %icon-medium;
            @extend %padding-small;
            display: inline-block;
        }

        .search-wrapper {
            max-width: 0;
            overflow-x: hidden;
            opacity: 0;

            @include theme.transition(
                (opacity, max-width),
                theme.$animation-duration
            );
        }

        &:focus-within .search-wrapper {
            max-width: 100%;
            opacity: 1;
        }

        #search {
            @extend %text-normal;
            margin: 0;
            margin-left: 4px;
            background: var(--input-text-background);
        }

        @include theme.display-max-width(580px) {
            width: stretch;

            .search-wrapper,
            input[type="text"] {
                width: stretch;
            }
        }

        @include theme.display-max-width($show-search-max-width) {
            #search_icon {
                opacity: 0;
                @include layout.size(0);
                overflow: clip;
                padding: 0;
            }

            #search {
                margin-left: 0;
            }

            .search-wrapper {
                max-width: 100%;
                opacity: 1;
            }
        }
    }
}

.header-row-secondary {
    @extend %main-header-row;
    @include layout.row(flex-end);

    > a {
        @extend %hover;
        @extend %padding-small;
    }
}

#content {
    @extend %center;
    max-width: $content-max-width;
}

#related {
    #related_media,
    #mentions {
        @extend %screen-margins;
        @extend %margin-large-bottom;
    }
}

footer {
    margin-bottom: 110px;

    > * {
        @extend %center;
        max-width: $content-max-width;
    }
}

::selection {
    color: var(--local-on-primary-100);
    background-color: var(--local-primary-100);
}

::-webkit-scrollbar {
    $scrollbar-thickness: 6px;
    width: $scrollbar-thickness;
    height: $scrollbar-thickness;
}
::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--text-secondary);
}
