.text-with-icon {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;

    > .material-icons {
        flex-shrink: 0;
    }

    > * {
        vertical-align: middle;
    }

    > .spacer {
        width: 0.66ch;
        flex-shrink: 0;
    }
}
