{% extends 'v2/pages/base/scaffold.html' %}

{% block title %}beatonma.org{% endblock %}

{% block content %}

  {% if motd %}
    <section>
      {% include 'v1/index/motd.template.html' %}
    </section>
  {% endif %}
    
    {% include 'v2/components/feed/feed.html' %}
  
    {% if apps %}
        <section>
          {% for app in apps %}
            <a class="tag" href="{% url 'app' app.app_id %}">{{ app.title }}</a>
          {% endfor %}
        </section>
    {% endif %}
  
    {% if tags %}
        <section>
            <div class="tags flex-row-center">
                {% for tag in tags %}
                    <a class="tag" href="{% url 'search-tags' tag.slug %}">#{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="tags flex-row-center">
                {% for language in languages %}
                    <a class="tag" href="{% url 'search-languages' language.name %}">{{ language.name }}</a>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
