{% extends 'v2/pages/base/scaffold.html' %}
{% load date_tag %}

{% block title %}{{ blog.title }} - beatonma.org{% endblock %}

{% block staff %}
    {% include 'v2/staff/edit-links.html' with target=blog %}
{% endblock %}

{% block content %}
<article class="h-entry">
    <div class="title-bar">
        <h3 class="p-name">{{ blog.title }}</h3>
        <time class="dt-published" datetime="{{ blog.created_at }}">{{ blog.created_at|minimaldate }}</time>
    </div>

    {% if blog.tagline %}
    <div class="tagline p-summary">{{ blog.tagline }}</div>
    {% endif %}

    <div class="e-content">
        {{ blog.content_html|safe }}
    </div>
</article>
{% endblock %}

{% block footer %}
<div id="related_media"></div>
{% endblock %}}
