a {
    text-decoration: none;
    color: var(--local-accent);
    transition: color 220ms;
    width: fit-content;

    > * {
        color: var(--text-primary);
    }

    &:hover {
        color: var(--accent-900);
    }

    &:visited {
        color: var(--local-accent);
    }

    &:hover:visited {
        color: var(--accent-900);
    }
}
