@use "../theme/animation";
@use "../theme/typography";

//html {
//    @extend %text-default;
//    @include animation.transition([color background-color]);
//    background-color: var(--background);
//    color: var(--on-background);
//}

body {
    @extend %text-default;
    @include animation.transition([color background-color]);
    background-color: var(--background);
    color: var(--on-background);
    padding: 0;
    margin: 0;
}
