@use "../theme";

form {
    max-width: 100%;
}

%input-text {
    @extend %shape-small;
    @extend %padding-small;
    @include theme.shape($top: null, $bottom: 0);
    color: var(--text-primary);
    background: var(--input-text-background);
    background: transparent;
    min-width: 300px;
    max-width: 100%;
    outline: none;
    border: none;

    &:focus {
        border-bottom: solid 2px var(--local-accent);
    }
}

input[type="text"] {
    @extend %input-text;
    // @extend %shape-small;
    // @extend %padding-small;
    // @include theme.shape($top: null, $bottom: 0);
    // color: var(--text-primary);
    // background: var(--input-text-background);
    // background: transparent;
    // min-width: 300px;
    // max-width: 100%;
    // outline: none;
    // border: none;

    // &:focus {
    //     border-bottom: solid 2px var(--local-accent);
    // }
}

textarea {
    @extend %input-text;
    resize: both;
}
