.card-container
  .card
    .card-content
      %h3 Me
      %p
        My name is 
        %span.p-name Michael Beaton
        and I live in 
        %span.p-region Scotland
        ,
        %span.p-country-name UK
        .
      %p
        I make things with code and I am 
        %a{href:'/contact/'} available for hire
        .

  .card
    .card-content
      %h3 beatonma.org
      %p This site is powered by
        %a{href:'https://www.djangoproject.com'} Django
        and
        %a{href:'https://httpd.apache.org'} Apache
        running on a Raspberry Pi Zero W. The front end is built with
        %a{href:'https://gulpjs.com/'} Gulp
        .

      %p
        beatonma.org is built with the
        %a{href:'https://indieweb.org'} Indieweb
        in mind. It supports
        %a{href:'http://microformats.org/wiki/Main_Page'} microformats
        and
        %a{href:'https://indieweb.org/Webmention'} webmentions
        .

        The design and implementation is my own.