.card-container
  .card
    .card-content
      %h3 Donate

      %p
        If you have found value in any of my projects then please consider leaving a tip. I like to make things freely available but donations are always welcome!

      %p
        Paypal: 
        %a{href:'https://paypal.me/beatonma'} paypay.me/beatonma

      %p
        %span.flex-row-start
          Bitcoin: 
          %span.tooltip
            %a{id:'btc_link', href:'bitcoin:19HTbCUwQKFYFPipjNVpfFabpSbwxsZHQQ'} 19HTbCUwQKFYFPipjNVpfFabpSbwxsZHQQ
            %span.tooltip-popup
              %img{src:'https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=bitcoin:19HTbCUwQKFYFPipjNVpfFabpSbwxsZHQQ', alt:'Bitcoin address'}
