{% extends 'base.template.html' %}
{% block title %}{{post.title}} - beatonma.org{% endblock %}
{% block html_head %}{{post.html_head|safe}}{% endblock %}
{% block content %}
<div class="card-container">
    <article class="card h-entry">
        <div class="article_image {{post.hero_aspect_ratio}} card-image fullbleed" style="background-image:url('/media/{{post.hero_image}}');margin-bottom:0;{% if post.hero_style_override != null %}{{post.hero_style_override}}{% endif %}">{{post.hero_html|safe}}</div>
        <div id="article_header" class="card-title-area-raised fullbleed" style="background-color:{{post.accent}};color:{{post.text_color}};">
            <div style="flex-grow:8;">
                <div class="card-title article_title p-name">{{post.title}}</div>
                <div class="flex-box-row" style="justify-content:flex-start !important;">
                    <p class="article-description text-secondary" style="color:{{post.text_color_secondary}};">{{post.tagline}}</p>
                    <!-- build:remove -->
                    <!-- If this post represents an app then include links for installation/download/source code -->
                    <!-- endbuild -->
                    {% if download_info %}
                    <div id="get_it_links" class="flex-box-row">
                        {% for info in download_info %}
                        {% if info.installation %}
                        {% for install in info.installation %}
                        <a href="{{install.url}}">
                            <svg id="{{install.id}}" class="download-icon" viewBox="0 0 48 48" style="stroke:{{post.text_color_secondary}}">{{install.icon|safe}}</svg>
                        </a>
                        <div class="mdl-tooltip" for="{{install.id}}">{{install.tooltip}}</div>
                        {% endfor %}
                        {% endif %}
                        {% if info.source %}
                        {% for source in info.source %}
                        <a href="{{source.url}}">
                            <svg id="{{source.id}}" class="download-icon" viewBox="0 0 48 48" style="stroke:{{post.text_color_secondary}}">{{source.icon|safe}}</svg>
                        </a>
                        <div class="mdl-tooltip" for="{{source.id}}">{{source.tooltip}}</div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div style="min-width:40px;flex-grow:2;"></div>
            <p class="card-timestamp article_timestamp">
                <time style="float:right;" datetime="{{post.created|date:'Y-m-d'}}">Posted {{post.created|date:"d N Y"}}</time>
                {% if post.created|date != post.updated|date %}
                <br/>
                <time style="float:right;" datetime="{{post.updated|date:'Y-m-d'}}">Updated {{post.updated|date:"d N Y"}}</time>
                {% endif %}
            </p>
        </div>
        <div class="card-content">
            <div class="article_abstract p-summary"{% if post.abstract %} style="padding-top:30px;padding-bottom:30px;"{% endif %}>
                {{post.abstract|safe}}
            </div>
            
            <div class="article_content e-content">
                {{post.content|safe}}
            </div>
        </div>
        <div style="display:none">
            <a rel="author" class="p-author" href="https://beatonma.org">Michael Beaton</a>
            <a class="u-url" href="https://beatonma.org{{post.get_absolute_url}}">{{post.title}}</a>
            <div class="dt-published">{{post.created|date:"Y-m-d"}}</div>
            <div class="dt-updated">{{post.updated|date:"Y-m-d"}}</div>
            {% if post.tweet_id %}<a rel="syndication" class="u-syndication" href="https://twitter.com/_beatonma/status/{{post.tweet_id}}">Tweet</a>{% endif %}
        </div>
    </article>
</div>

{% if changelogs %}
<div class="card-container">
    <div class="card wrap">
        <div class="card-content">
            <div class="changelog-section-title">Changelog</div>
            {% for log in changelogs %}
            <div id="{{log.slug}}" class="changelog">
                <div class="changelog-title">
                    <span class="changelog-version">{{log.version_name}}</span> <span class="changelog-date">{{log.date|date:"N Y"}}</span>
                </div>
                <div class="changelog-content">
                    {{log.content|safe}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
    
<div class="card-container">
    <div id="related_content" class="card wrap">
        <div class="card-content">
            <div class="card-title">Related</div>
            <div class="flex-box-row">
                <!-- build:remove -->
                <!-- Container for webmentions - populated with ajax -->
                <!-- endbuild -->
                <div id="webmentions_container" class="related-section"><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div></div>
                <!-- build:remove -->
                <!-- If this article is about an app(s) then links to those apps' pages are shown here -->
                <!-- endbuild -->
                {% if apps %}
                <div id="related_apps" class="related-section">
                    <div class="related-section-title">Apps in this article</div>
                    {% for app in apps %}
                    <a href="https://beatonma.org{{app.get_absolute_url}}">
                        <div class="related-app">
                            <div class="related-app-icon" style="background-image:url('https://beatonma.org/media/{{app.preview_image}}');background-color:{{app.accent}};"></div>
                            <div class="related-app-text">
                                <div class="related-app-name">{{app.title}}</div>
                                <div class="related-app-type app-type-{{app.app_type}}">{{app.get_app_type_icon|safe}}</div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- build:remove -->
                <!-- TODO Include links to other articles about similar stuff. Part of the same project, same app, similar tags, that sort of thing -->
                <!-- endbuild -->
                <div id="related_articles"><!-- TODO --></div>
            </div>
        </div>
    </div>
</div>

<!-- build:remove -->
<!-- This image is included for Feedly but is not visible to users -->
<!-- It is included because we use a <div> with a background instead of an <img> for the
     main article image -->
<!-- endbuild -->
<img class="webfeedsFeaturedVisual hidden" src="/media/{{post.preview_image}}"/>
<script class="onPageChange" type="text/javascript">
    function loadWebmentions() {
        $.ajax({
            type: 'post',
            url: 'https://beatonma.org/webmentions',
            data: {'slug': '{{post.slug}}'},
            success: function(data) {
                $('#webmentions_container').html(data);
                
                hideRelatedIfEmpty();
                // Notify the mdl handler that the DOM has changed
                componentHandler.upgradeDom();
            },
            error: function() {
                $('#webmentions_container').html('');
                hideRelatedIfEmpty();
            }
        });
    }
    // Hide the container if there is nothing to go in it
    function hideRelatedIfEmpty() {
        if ($('#webmentions_container').html() == '' && $('#related_apps').length == 0) {
            $('#related_content').addClass('hidden');
            console.log('Hiding related content (empty)')
        }
        else if ($('#webmentions_container').html() == '') {
            $('#webmentions_container').addClass('hidden');
        }
    }
    $('document').ready(loadWebmentions());
</script>
<script class="onPageChange" type="text/javascript">
    setAccent("{{post.accent}}", "{{post.text_color}}");
    loadWebmentions();
</script>
{% endblock %}