{% extends 'base.template.html' %}
{% block title %}{{post.title}} - beatonma.org{% endblock %}
{% block content %}
<div class="card_container">
    <article class="card">
        <div class="card_image fullbleed" style="background-image:url('/media/{{post.hero_image}}');margin-bottom:0;"></div>
        <div class="card_title_area_raised fullbleed" style="background-color:{{post.accent}};color:{{post.text_color}};margin-top:0;margin-bottom:0;">
            <div style="flex-grow:8;">
                <div class="card_title article_title">{{post.title}}</div>
                <p class="article_description text-secondary" style="color:{{post.text_color_secondary}};">{{post.tagline}}</p>
            </div>
            <div style="min-width:40px;flex-grow:2;"></div>
            <p class="card_timestamp article_timestamp">
                <time style="float:right;" datetime="{{post.created|date}}">Posted {{post.created|date:"d M Y"}}</time>
                {% if post.created|date != post.updated|date %}
                <br/>
                <time style="float:right;" datetime="{{post.updated|date}}">Updated {{post.updated|date:"d M Y"}}</time>
                {% endif %}
            </p>
        </div>
        <div class="card_content">
            <p class="article_abstract text-primary">
                {{post.abstract|safe}}
            </p>
            
            <p class="article_content text-primary">
                {{post.content|safe}}
            </p>
        </div>
    </article>
</div>
<script id="onPageChange" type="text/javascript">
    setTheme("{{post.accent}}");
</script>
{% endblock %}