{% load date_tag %}
<div class="note h-entry">
    <div class="e-content">{{ note.linked_html|safe }}</div>
    <time class="dt-published label" datetime="{{ note.created|date }} {{ note.created|time }}" title="{{ note.created|date }} {{ note.created|time }}">
        {{ note.created|minimaltime }}
    </time>
    {% if media.url %}
        <div class="note-media-wrapper">
            <a href="{{ media.url }}" title="Open full image" class="noanim">
                <img src="{{ media.url }}" alt="{{ media.description }}" aria-label="{{ media.description }}" class="note-media"/>
            </a>
        </div>
    {% endif %}
</div>