<div id="color_palette">
  <div class="colors">
    <div class="color-family">
      <div style="background-color: var(--primary-100);"></div>
      <div style="background-color: var(--primary-400);"></div>
      <div style="background-color: var(--primary-900);"></div>
    </div>

    <div class="color-family">
      <div style="background-color: var(--accent-100);"></div>
      <div style="background-color: var(--accent-400);"></div>
      <div style="background-color: var(--accent-900);"></div>
    </div>
  </div>

  <div class="row">
    <div class="outlined card-content">
      <h3>Outlined</h3>
      {% include "./_text.html" %}
    </div>

    <div class="card card-content">
      <h3>Card</h3>
      {% include "./_text.html" %}
    </div>
  </div>

</div>