<div class="h-card vcard u-url">
  <div class="basic">
    {% include "./_photo.html" %}

    <div class="about">
      <div class="fn p-name">Michael Beaton</div>

      <div class="p-addr h-adr">
        <span class="p-locality">Inverness</span> |
        <span class="p-region">Scotland</span> |
        <span class="p-country-name">UK</span>
      </div>
    </div>
  </div>

  <div data-meta="true">
    <img loading="lazy" class="u-logo" src="https://beatonma.org/static/images/mb.png" alt="Logo for beatonma.org" width="64"/>
    <time class="dt-bday" datetime="1987-05-16">1987-05-16</time>
  </div>

  {% include "./_relme.html" %}
</div>
