{% load admin_urls %}
{% load admin_edit %}
{% block staff %}
    {% if user.is_staff %}
    <div class="staff">
        <div class="staff-links">
            <a href="/webmention/get?url={{ request.path }}">Mentions API</a>
            <a href="/api/related_media/?url={{ request.path }}">Media API</a>
            <a href="{{ target|admin_edit_url }}" title="ID: {{ target.pk }}">Edit</a>
            <span
                class="material-icons"
                title="Remove staff UI"
                onclick="(e => e.parentNode.parentNode.remove())(this)"
            >
                close
            </span>
        </div>
    </div>
    {% endif %}
{% endblock %}
