@forward "../elevation";
@forward "../components/list-item";

.feed-item {
    @extend %elevated;
    @extend %list-item-large;

    background-color: var(--surface);
    margin: 1rem 0;
}

.feed-item[data-type="changelog"],
.feed-item[data-type="app"] {
    .image {
        background-size: contain;
    }
}
