<template id="mention_minimal">
    <div class="mention-mini">
        <div class="tooltip">
            <a class="mention-source" aria-label="Mention source">
                <div class="avatar mention-avatar"></div>
            </a>
            <div class="tooltip-popup hcard-popup">
                <div class="hcard-popup flex-row-start">
                    <a class="hcard-homepage" aria-label="Mention author homepage">
                        <div class="avatar hcard-avatar"></div>
                        <div class="hcard-content">
                            <div class="hcard-name"></div>
                            <div class="hcard-homepage"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="mention_quote">
    <div class="mention-quoted flex-row-start nowrap">
        <div class="avatar mention-avatar"></div>
        <div class="mention-content spacer">
            <a class="mention-source" aria-label="Mention source">
                <div class="mention-quote"></div>
            </a>
            <div class="flex-row-end mention-byline">
                <span>&mdash;</span><span class="mention-name"></span><a class="mention-homepage chip" aria-label="Mention author homepage"></span></a>
            </div>
        </div>
    </div>
</template>
<template id="mentions_container">
    <div class="card-content">
        <h3>Mentions</h3>
    </div>
</template>