{% load class_tag %}
{% if is_first_page %}
<section id="lists">
<div class="flex-row card-container">
    <div id="github_recent"></div>
    {% include 'v1/fragments/notes.fragment.html' %}
</div>
</section>
{% endif %}

<section id="feed">
    <div class="feed-items h-feed">
        {% for item in feed %}
            {% with cls=item|get_class %}
                {% if cls == "Article" %}
                    {% include "v2/feed/article.template.html" with article=item type=cls %}
                {% elif cls == "Blog" %}
                    {% include "v2/feed/blog.template.html" with blog=item type=cls %}
                {% elif cls == "Changelog" %}
                    {% include "v2/feed/changelog.template.html" with changelog=item type=cls %}
                {% elif cls == "App" %}
                    {% include "v2/feed/app.template.html" with app=item type=cls %}
                {% else %}
                    <div>TODO {{ cls }} {{ item.title }}</div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            {% if page_obj.number > 2 %}
                <a href="/#feed" title="First page">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}#feed" title="Previous page">&lt;</a>
            {% else %}
                <a href="/#feed" title="First page">&lt;</a>
            {% endif %}
        {% endif %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}#feed" title="Next page">&gt;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}#feed" title="Last page">&raquo;</a>
        {% endif %}
    </div>
</section>