<!DOCTYPE html>
{% comment %}
    Basic layout for a normal page.
{% endcomment %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}
            {% block title_suffix %} - beatonma.org{% endblock %}</title>
        <meta name="description" content="{% block description %}Things by Michael Beaton{% endblock %}"/>
        {% include "./_head.html" %}
        {% block html_head %}{% endblock %}
    </head>
    <body>
        <header>{% block header %}{% include "./_header.html" %}{% endblock %}</header>
        <div id="content_wrapper">
            <div id="content">
                {% block before %}{% endblock %}
                <main>
                    {% block content %}{% endblock %}
                </main>
                {% block after %}{% endblock %}
                {% block post_scripts %}{% endblock %}
            </div>
        </div>

        <footer>
            {% block footer %}
            {% include "./_footer.html" %}
            {% endblock %}

            {% block hcard %}
            {% include "components/hcard/hcard-basic.html" %}
            {% endblock %}
        </footer>

    </body>
</html>
