{% extends "pages/base/scaffold.html" %}

{% block title %}Webmentions Testing Tool{% endblock %}
{% block description %}A tool for testing Webmentions{% endblock %}

{% block content %}
<div id="webmentions_testing_tool"></div>

<div id="related">
  <div id="mentions"></div>
  <p>If your content has mentioned this page then you should find a link to it here, along with
    your <code>h-card</code> information!</p>
</div>

<div>
  {% for url in active_mentions %}
  <a href="{{ url }}"></a>
  {% endfor %}
</div>
{% endblock %}
