$textprimary: var(--text-primary);
$textsecondary: var(--text-secondary);
$texttertiary: var(--text-tertiary);

$textprimaryinvert: var(--text-primary-invert);
$textsecondaryinvert: var(--text-secondary-invert);
$texttertiaryinvert: var(--text-tertiary-invert);
