$corners: (
    "small": 6px,
    "medium": 12px,
    "large": 16px,
);

@mixin corners() {
    @each $name, $size in $corners {
        &-#{$name} {
            border-radius: $size;
        }

        &-#{$name}-top {
            border-top-left-radius: $size;
            border-top-right-radius: $size;
        }

        &-#{$name}-bottom {
            border-bottom-left-radius: $size;
            border-bottom-right-radius: $size;
        }
    }
}

%round {
    border-radius: 50%;
}

%shape {
    @include corners();
}

@mixin shape($top, $bottom) {
    @if $top {
        border-top-left-radius: $top;
        border-top-right-radius: $top;
    }
    @if $bottom {
        border-bottom-left-radius: $bottom;
        border-bottom-right-radius: $bottom;
    }
}

%outlined {
    border: 2px solid var(--local-primary-100);
}

.outlined {
    @extend %shape-medium;
    @extend %outlined;
}
