/**
 * Generate %surface-primary, %surface-primary-100, %surface-primary-400, etc...
 *
 */
@use "./animation";

$_colorNames: [ "primary", "accent" ];
$_contrastLevels: [ "100", "400", "900" ];

@mixin _foregroundColor($color) {
    color: $color;
    fill: $color;
    stroke: $color;
}

/**
 * Generates something like:
 *   %surface-primary-100 {
 ^     background-color: var(--local-primary-100);
 *     color: var(--local-on-primary-100);
 *     fill: var(--local-on-primary-100);
 *     stroke: var(--local-on-primary-100);
 ^   }
 * ... for each colorName, contrastLevel
 */
%surface {
    background-color: var(--surface);
    color: var(--on-surface);

    @each $colorName in $_colorNames {
        &-#{$colorName} {
            background-color: var(--local-#{$colorName});
            @include _foregroundColor(var(--local-on-#{$colorName}));

            &-hover {
                background-color: var(--local-#{$colorName});
                @include _foregroundColor(var(--local-on-#{$colorName}));

                &:hover {
                    background-color: var(--local-#{$colorName}-900);
                }
                @include animation.transition((background-color));
            }

            @each $contrastLevel in $_contrastLevels {
                &-#{$contrastLevel} {
                    background-color: var(
                        --local-#{$colorName}-#{$contrastLevel}
                    );
                    @include _foregroundColor(
                        var(--local-on-#{$colorName}-#{$contrastLevel})
                    );
                }
            }
        }
    }
}

/**
 * Generates something like:
 *  %foreground-primary-400 {
 *    color: var(--local-primary-400);
 *    fill: var(--local-primary-400);
 *    stroke: var(--local-primary-400);
 *  }
 * ... for each colorName, contrastLevel
 *
 */
%foreground {
    @each $colorName in $_colorNames {
        &-#{$colorName} {
            @include _foregroundColor(var(--local-#{$colorName}));

            @each $contrastLevel in $_contrastLevels {
                &-#{$contrastLevel} {
                    @include _foregroundColor(
                        var(--local-#{$colorName}-#{$contrastLevel})
                    );
                }
            }
        }
    }
}

/**
 * Generates something like:
 * %on-primary-400 {
 *   color: var(--local-on-primary-400);
     ...etc.
 * }
 */
%on {
    @each $colorName in $_colorNames {
        &-#{$colorName} {
            @include _foregroundColor(var(--local-on#{$colorName}));
        }

        @each $contrastLevel in $_contrastLevels {
            &-#{$contrastLevel} {
                @include _foregroundColor(
                    var(--local-on-#{$colorName}-#{$contrastLevel})
                );
            }
        }
    }
}
