%round {
    border-radius: 50%;
}

%shape-small {
    border-radius: 8px;
}

%shape-medium {
    border-radius: 12px;
}

%shape-large {
    border-radius: 12px;
}

@mixin shape($top, $bottom) {
    @if $top {
        border-top-left-radius: $top;
        border-top-right-radius: $top;
    }
    @if $bottom {
        border-bottom-left-radius: $bottom;
        border-bottom-right-radius: $bottom;
    }
}
