$spacing: (
    "small": 8px,
    "medium": 16px,
    "large": 24px,
    "section": 4rem,
    "auto": auto,
);

@mixin spacing($property) {
    $sides: ("top", "bottom", "left", "right");

    @each $name, $size in $spacing {
        // e.g. padding-small, padding-medium...
        &-#{$name} {
            #{$property}: $size;
        }

        // e.g. padding-small-left, padding-small-right...
        @each $side in $sides {
            &-#{$name}-#{$side} {
                #{$property}-#{$side}: $size;
            }
        }

        // e.g. padding-small-vertical
        &-#{$name}-vertical {
            #{$property}-top: $size;
            #{$property}-bottom: $size;
        }

        // e.g. padding-small-horizontal
        &-#{$name}-horizontal {
            #{$property}-left: $size;
            #{$property}-right: $size;
        }
    }
}

%padding {
    @include spacing("padding");
}

%margin {
    @include spacing("margin");
}

@mixin padding(
    $vertical,
    $horizontal: $vertical,
    $top: $vertical,
    $bottom: $vertical,
    $left: $horizontal,
    $right: $horizontal
) {
    padding: $top $right $bottom $left;
}

@mixin margin(
    $vertical,
    $horizontal: $vertical,
    $top: $vertical,
    $bottom: $vertical,
    $left: $horizontal,
    $right: $horizontal
) {
    margin: map-get($spacing, $top) map-get($spacing, $right)
        map-get($spacing, $bottom) map-get($spacing, $left);
}
