@use "./border";
@use "./animation";

/**
 * Hover, select, focus, etc.
 */
%hover {
    @extend %shape-small;
    @include animation.transition([background-color]);

    &:hover {
        background-color: var(--hover);
    }
}

%clickable {
    @extend %hover;
    cursor: pointer;
}

:focus-visible {
    animation-name: outline-pop;
    animation-duration: 220ms;
    animation-fill-mode: both;

    @keyframes outline-pop {
        0% {
            outline-offset: 0;
            outline-width: 0;
        }
        60% {
            outline-offset: 4px;
        }
        100% {
            outline-offset: 1px;
        }
    }
}
