@use "./animation";

:root {
    --fs-700: 24px;
    --fs-600: 22px;
    --fs-500: 20px;
    --fs-400: 18px;
    --fs-300: 16px;

    --fs-h1: 38px;
    --fs-h2: 34px;
    --fs-h3: 30px;
    --fs-h4: 28px;
    --fs-h5: 26px;
    --fs-h6: 24px;
}

%text-default {
    @extend %text-normal;
}

%text-normal {
    @extend %font-default;
    font-size: var(--fs-400);
    color: var(--text-primary);
    line-height: 1;
    transition: font-size animation.$animation-duration;
}

%text-small {
    font-size: var(--fs-300);
}

%readable-text {
    max-width: 800px;
}

%font-default {
    font-family: sans-serif;
}

%font-monospace {
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    width: fit-content;

    > a,
    > a:visited {
        color: var(--text-primary);
    }
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
h4 {
    font-size: var(--fs-h4);
}
h5 {
    font-size: var(--fs-h5);
}
h6 {
    font-size: var(--fs-h6);
}
