{% load class_tag %}
{% load repetition %}
<section id="feed">
  <div class="feed h-feed">

    {% block first_feed_items %}{% endblock %}

    {% for item in feed %}
      {% with cls=item|get_class %}

        {% if cls == "Article" %}
          {% include "./item/article-item.html" with article=item type=cls %}

        {% elif cls == "Blog" %}
          {% include "./item/blog-item.html" with blog=item type=cls %}

        {% elif cls == "Changelog" %}
          {% include "./item/changelog-item.html" with changelog=item type=cls %}

        {% elif cls == "App" %}
          {% include "./item/app-item.html" with app=item type=cls %}

        {% elif cls == "Note" %}
          {% include "./item/note-item.html" with note=item type=cls %}

        {% elif cls == "GithubRepository" %}
          {% include "./item/repository-item.html" with repo=item type=cls %}

        {% elif cls == "FeedMessage" %}
          {% include "./item/message-item.html" with message=item type=cls %}

        {% else %}
          <div>TODO {{ cls }} {{ item.title }}</div>

        {% endif %}
      {% endwith %}
    {% empty %}
      <div class="feed-empty">
        <div class="feed-empty-title">no results</div>
        <div class="feed-empty-message">{% choose
          "Sorry about that"
          "My bad"
          "Sometimes I make mistakes"
          "A happy little accident, I'm sure"
          "oh no"
          '<span class="oh-no">oh&nbsp;<span class="marquee-wrapper"><span class="marquee">no no
            no no no no no no no no no no no no no NO</span></span></span>'
          "I'm sure they were here a minute ago"
          "Gradients are cool though, right?<br/>&hellip;<i>right?</i>"
          %}</div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <div class="pagination-group">

      {% if page_obj.has_previous %}

        {% if page_obj.number > 2 %}
          @@include("v2/includes/tooltip.include.html", {
            item: '<a href="/#feed" title="First page" class="material-icons">first_page</a>',
            popup: "First page"
          })

          @@include("v2/includes/tooltip.include.html", {
            item: '<a href="?page={{ page_obj.previous_page_number }}#feed" title="Previous page" class="material-icons">navigate_before</a>',
            popup: "Previous page"
          })

        {% else %}
          @@include("v2/includes/tooltip.include.html", {
            item: '<a href="/#feed" title="First page" class="material-icons">first_page</a>',
            popup: "First page"
          })
        {% endif %}
      {% endif %}
    </div>

    <div class="pagination-group">
      {% if page_obj.has_next %}
        @@include("v2/includes/tooltip.include.html", {
          item: '<a href="?page={{ page_obj.next_page_number }}#feed" title="Next page" class="material-icons">navigate_next</a>',
          popup: "Next page"
        })

        @@include("v2/includes/tooltip.include.html", {
          item: '<a href="?page={{ page_obj.paginator.num_pages }}#feed" title="Last page" class="material-icons">last_page</a>',
          popup: "Last page"
        })
      {% endif %}
    </div>
  </div>
</section>
