<div id="loading" class="progressbar"></div>
<div class="header-row-primary">
    <div class="left">
        <a href="/" tabindex="-1"><h1>beatonma.org</h1></a>
    </div>

    <div class="right">
        <form action="/search/" method="get" id="search_form">
            <div id="search_bar">
                <label
                    id="search_icon"
                    class="icon material-icons search"
                    for="search"
                    tabindex="0"
                >
                    search
                </label>
                <div id="search_wrapper">
                    <input
                        type="text"
                        id="search"
                        name="query"
                        placeholder="Search beatonma.org"
                        aria-label="Search beatonma.org"
                        enterkeyhint="search"
                        autocomplete="off"
                    >
                </div>
            </div>

            <div id="search_suggestions"></div>
        </form>
    </div>
</div>

<div class="header-row-secondary">
    <div id="theme_icon" title="Toggle theme"></div>
    <a href="/apps/">Apps</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>

    {% if user.is_superuser %}
    <div class="staff">
        |
        <a class="noanim" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="noanim" href="{% url 'admin:index' %}">Admin</a>
        <div class="menu">
            <div class="menu-title material-icons">add</div>
            <div class="menu-content">
                <a tabindex="-1" href="{% url 'admin:main_app_add' %}">App</a>
                <a tabindex="-1" href="{% url 'admin:main_article_add' %}">Article</a>
                <a tabindex="-1" href="{% url 'admin:main_blog_add' %}">Blog</a>
                <a tabindex="-1" href="{% url 'admin:main_changelog_add' %}">Changelog</a>
                <a tabindex="-1" href="{% url 'admin:main_note_add' %}">Note</a>
            </div>
        </div>
     </div>
    {% endif %}
</div>
