@mixin light {
    --text-primary: var(--text-dark-primary);
    --text-secondary: var(--text-dark-secondary);
    --text-tertiary: var(--text-dark-tertiary);

    --text-primary-invert: var(--text-light-primary);
    --text-secondary-invert: var(--text-light-secondary);
    --text-tertiary-invert: var(--text-light-tertiary);

    --primary-100: #dcdcdc;
    --primary-400: #848484;
    --primary-900: #272727;
    --primary: var(--primary-400);
    --on-primary: var(--text-light);

    --accent-100: #b8d1d9;
    --accent-400: #207080;
    --accent-900: #004351;
    --accent: var(--accent-400);
    --on-accent: var(--text-light);

    --hover: rgba(0, 0, 0, 0.08);

    // Embedded things that could sort of be a card of their own but are already in a parent card
    // e.g. tables
    --embedded-background: #444444;
    --embedded-background-highlight: #555555;
    --embedded-text-primary: var(--text-light-primary);
    --embedded-text-secondary: var(--text-light-secondary);
    --embedded-text-tertiary: var(--text-light-secondary);

    // v2
    --background: #f5f5f5;
    --surface: var(--white);
    --warn: var(--white);
    --on-warn: #be0000;

    .codehilite {
        // colorful.css
        background: #ffffff;

        .hll {
            background-color: #ffffcc;
        }

        .c {
            /* Comment */
            color: #888888;
        }

        .err {
            /* Error */
            color: #ff0000;
            background-color: #ffaaaa;
        }

        .k {
            /* Keyword */
            color: #008800;
            font-weight: bold;
        }

        .o {
            /* Operator */
            color: #333333;
        }

        .ch {
            /* Comment.Hashbang */
            color: #888888;
        }

        .cm {
            /* Comment.Multiline */
            color: #888888;
        }

        .cp {
            /* Comment.Preproc */
            color: #557799;
        }

        .cpf {
            /* Comment.PreprocFile */
            color: #888888;
        }

        .c1 {
            /* Comment.Single */
            color: #888888;
        }

        .cs {
            /* Comment.Special */
            color: #cc0000;
            font-weight: bold;
        }

        .gd {
            /* Generic.Deleted */
            color: #a00000;
        }

        .ge {
            /* Generic.Emph */
            font-style: italic;
        }

        .gr {
            /* Generic.Error */
            color: #ff0000;
        }

        .gh {
            /* Generic.Heading */
            color: #000080;
            font-weight: bold;
        }

        .gi {
            /* Generic.Inserted */
            color: #00a000;
        }

        .go {
            /* Generic.Output */
            color: #888888;
        }

        .gp {
            /* Generic.Prompt */
            color: #c65d09;
            font-weight: bold;
        }

        .gs {
            /* Generic.Strong */
            font-weight: bold;
        }

        .gu {
            /* Generic.Subheading */
            color: #800080;
            font-weight: bold;
        }

        .gt {
            /* Generic.Traceback */
            color: #0044dd;
        }

        .kc {
            /* Keyword.Constant */
            color: #008800;
            font-weight: bold;
        }

        .kd {
            /* Keyword.Declaration */
            color: #008800;
            font-weight: bold;
        }

        .kn {
            /* Keyword.Namespace */
            color: #008800;
            font-weight: bold;
        }

        .kp {
            /* Keyword.Pseudo */
            color: #003388;
            font-weight: bold;
        }

        .kr {
            /* Keyword.Reserved */
            color: #008800;
            font-weight: bold;
        }

        .kt {
            /* Keyword.Type */
            color: #333399;
            font-weight: bold;
        }

        .m {
            /* Literal.Number */
            color: #6600ee;
            font-weight: bold;
        }

        .s {
            /* Literal.String */
            background-color: #fff0f0;
        }

        .na {
            /* Name.Attribute */
            color: #0000cc;
        }

        .nb {
            /* Name.Builtin */
            color: #007020;
        }

        .nc {
            /* Name.Class */
            color: #bb0066;
            font-weight: bold;
        }

        .no {
            /* Name.Constant */
            color: #003366;
            font-weight: bold;
        }

        .nd {
            /* Name.Decorator */
            color: #555555;
            font-weight: bold;
        }

        .ni {
            /* Name.Entity */
            color: #880000;
            font-weight: bold;
        }

        .ne {
            /* Name.Exception */
            color: #ff0000;
            font-weight: bold;
        }

        .nf {
            /* Name.Function */
            color: #0066bb;
            font-weight: bold;
        }

        .nl {
            /* Name.Label */
            color: #997700;
            font-weight: bold;
        }

        .nn {
            /* Name.Namespace */
            color: #0e84b5;
            font-weight: bold;
        }

        .nt {
            /* Name.Tag */
            color: #007700;
        }

        .nv {
            /* Name.Variable */
            color: #996633;
        }

        .ow {
            /* Operator.Word */
            color: #000000;
            font-weight: bold;
        }

        .w {
            /* Text.Whitespace */
            color: #bbbbbb;
        }

        .mb {
            /* Literal.Number.Bin */
            color: #6600ee;
            font-weight: bold;
        }

        .mf {
            /* Literal.Number.Float */
            color: #6600ee;
            font-weight: bold;
        }

        .mh {
            /* Literal.Number.Hex */
            color: #005588;
            font-weight: bold;
        }

        .mi {
            /* Literal.Number.Integer */
            color: #0000dd;
            font-weight: bold;
        }

        .mo {
            /* Literal.Number.Oct */
            color: #4400ee;
            font-weight: bold;
        }

        .sa {
            /* Literal.String.Affix */
            background-color: #fff0f0;
        }

        .sb {
            /* Literal.String.Backtick */
            background-color: #fff0f0;
        }

        .sc {
            /* Literal.String.Char */
            color: #0044dd;
        }

        .dl {
            /* Literal.String.Delimiter */
            background-color: #fff0f0;
        }

        .sd {
            /* Literal.String.Doc */
            color: #dd4422;
        }

        .s2 {
            /* Literal.String.Double */
            background-color: #fff0f0;
        }

        .se {
            /* Literal.String.Escape */
            color: #666666;
            font-weight: bold;
            background-color: #fff0f0;
        }

        .sh {
            /* Literal.String.Heredoc */
            background-color: #fff0f0;
        }

        .si {
            /* Literal.String.Interpol */
            background-color: #eeeeee;
        }

        .sx {
            /* Literal.String.Other */
            color: #dd2200;
            background-color: #fff0f0;
        }

        .sr {
            /* Literal.String.Regex */
            color: #000000;
            background-color: #fff0ff;
        }

        .s1 {
            /* Literal.String.Single */
            background-color: #fff0f0;
        }

        .ss {
            /* Literal.String.Symbol */
            color: #aa6600;
        }

        .bp {
            /* Name.Builtin.Pseudo */
            color: #007020;
        }

        .fm {
            /* Name.Function.Magic */
            color: #0066bb;
            font-weight: bold;
        }

        .vc {
            /* Name.Variable.Class */
            color: #336699;
        }

        .vg {
            /* Name.Variable.Global */
            color: #dd7700;
            font-weight: bold;
        }

        .vi {
            /* Name.Variable.Instance */
            color: #3333bb;
        }

        .vm {
            /* Name.Variable.Magic */
            color: #996633;
        }

        .il {
            /* Literal.Number.Integer.Long */
            color: #0000dd;
            font-weight: bold;
        }
    }
}
