$fill-width: 0px;
$one-column: 440px;

// $two-columns: 820px;
// $three-columns: 1196px;
// $four-columns: 1572px;

// On narrow displays, prefer to layout content
// vertically than horizontally.
$prefer-vertical-content: 500px;
