%row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin row($horizontal: flex-start, $vertical: center, $wrap: wrap) {
    @extend %row;
    justify-content: $horizontal;
    align-content: $vertical;
    flex-wrap: $wrap;
}

@mixin width($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}

@mixin height($height) {
    height: $height;
    min-height: $height;
    max-height: $height;
}

@mixin size($width, $height: $width) {
    @include width($width);
    @include height($height);
}

@mixin clipped-text($max-lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $max-lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row {
    @extend %row;
}
