{% load repetition %}
{% if image_url %}
    <div
        class="image {{ imageclass }}"
        style="{% include 'v2/components/feed/item/_themeable-style.html' %} background-image: url('/media/{{ image_url }}')"
    >
    </div>
{% elif image_svg %}
    <div
        class="image {{ imageclass }}"
        style="{% include 'v2/components/feed/item/_themeable-style.html' %}"
    >
        {{ image_svg|safe }}
    </div>
{% else %}
    <div
        class="image-text-wrapper {{ imageclass }}"
        style="{% include 'v2/components/feed/item/_themeable-style.html' %}"
    >
        <div class="image-text">
            {% if title %}
                {{ title|repeat_until_length:120|safe }}
            {% elif description %}
                {{ description|repeat_until_length:120|safe }}
            {% endif %}
        </div>
    </div>
{% endif %}
