@use "v2/layout";
@use "v2/theme";

article[data-type="article"] {
    $border-width: 2px;

    .hero-wrapper {
        @extend %center;
        display: flex;
        position: relative;
        aspect-ratio: unset;
        width: fit-content;
        max-width: 100%;

        img {
            max-height: 25rem;
            max-width: 100%;
            box-sizing: border-box;
        }

        &.cover {
            width: 100%;

            @include theme.on-small-width() {
                &:before {
                    @include layout.stretch();
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    background-color: var(--local-primary);
                    z-index: -1;
                    margin-left: -100%;
                    margin-right: -100%;
                }
            }
        }

        &.contain {
            img {
                @extend %shape-medium-top;
                outline: 4px var(--local-primary) solid;
                outline-offset: 4px;
            }
        }
    }
}

article {
    .header {
        @extend %margin-medium-top;
        @extend %margin-large-bottom;
    }

    .title-bar {
        @include layout.row(
            $horizontal: space-between,
            $vertical: baseline,
            $gap: 1rem
        );
    }

    .hero-wrapper {
        @extend %shape-medium-top;
        background-color: var(--local-primary);
        aspect-ratio: 2;
        width: 100%;
        display: flex;

        img.hero {
            @extend %center;
            height: 100%;

            &.cover {
                width: 100%;
                height: auto;
            }
        }
    }
}
