@use "v2/layout";
@use "v2/theme";

.hero-wrapper {
    @extend %shape-medium-top;
    background-color: var(--local-primary);
    aspect-ratio: 2;
    width: 100%;
    display: flex;
}

img.hero {
    @extend %center;
    height: 100%;

    &.cover {
        width: 100%;
        height: auto;
    }
}

article {
    .header {
        @extend %margin-medium-top;
        @extend %margin-large-bottom;
    }

    .title-bar {
        @include layout.row(
            $horizontal: space-between,
            $vertical: baseline,
            $gap: 1rem
        );
    }
}
