$sc2am-animated-property: fill;
$sc2am-animate-from: rgba(0, 0, 0, 0);
$sc2am-animate-to: var(--text-light-tertiary);
$sc2am-max-size: 300px;
$sc2am-delay: 200ms;
$sc2am-stroke-width: 2px;
$zerg: var(--zerg);
$terran: var(--terran);
$protoss: var(--protoss);

:root {
    --zerg: #823daed9;
    --terran: #74cddcd9;
    --protoss: #fdf472d9;
}

#intro_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: $sc2am-max-size;
    margin: 32px 24px;
}

.sc2am-icon {
    width: 33%;
    max-width: $sc2am-max-size;
    min-height: 80px;
    max-height: $sc2am-max-size;
    animation-name: sc2am-intro;
    animation-duration: 5000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    transition: all $transition-duration;
    stroke-width: 0;
    fill: var(--text-light-tertiary);
}

#intro_icons .terran {
    animation-delay: $sc2am-delay;
    stroke: $terran;
}
#intro_icons .protoss {
    animation-delay: $sc2am-delay * 2;
    stroke: $protoss;
}
#intro_icons .zerg {
    animation-delay: $sc2am-delay * 3;
    stroke: $zerg;
}

.terran:hover {
    fill: $terran;
}

.protoss:hover {
    fill: $protoss;
}

.zerg:hover {
    fill: $zerg;
}



@keyframes sc2am-intro {
    0% {
        #{$sc2am-animated-property}: $sc2am-animate-from;
        stroke-width: 0;
    }
    20% {
        stroke-width: $sc2am-stroke-width;
    }
    40% {
        stroke-width: $sc2am-stroke-width;
    }
    60% {
        stroke-width: 0;
    }
    70% {
        #{$sc2am-animated-property}: $sc2am-animate-from;
    }
    100% {
        // #{$sc2am-animated-property}: $sc2am-animate-to;
        stroke-width: 0;
    }
}