{% extends 'base.template.html' %}

{% block title %}beatonma.org{% endblock %}

{% block content %}
<div class="featured">
    <h1>Featured</h1>
    <div class="flex-box-row card-container">
        {% for post in featured %}
        <a class="card post featured preview" href="{{post.get_absolute_url}}">
            <div class="card-image" style="background-image:url('/media/{{post.preview_image}}');{% if post.preview_style_override != null %}{{post.preview_style_override}}{% endif %}"></div>
            <div class="card-content preview">
                <div class="card-title">{{post.title}}</div>
                <p class="synopsis">{{post.preview_text}}</p>
                <p class="card-timestamp"><time class="accent" datetime="{{post.updated|date}}">{{post.updated|date}}</time></p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<br/>

<div class="recent">
    <h1>Recent</h1>
    <div class="flex-box-row card-container">
        {% for post in posts %}
        <a class="card post preview" href="{{post.get_absolute_url}}">
            <div class="card-image" style="background-image:url('/media/{{post.preview_image}}');{% if post.preview_style_override != null %}{{post.preview_style_override}}{% endif %}"></div>
            <div class="card-content preview">
                <div class="card-title">{{post.title}}</div>
                <p class="synopsis">{{post.preview_text}}</p>
                <p class="card-timestamp"><time class="accent" datetime="{{post.updated|date}}">{{post.updated|date}}</time></p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<br/>

<script class="onPageChange" type="text/javascript">
    setAccent('', '');
    setDayNightAutoTheme();
</script>
{% endblock %}