.aspect-ratio {
    width: 100% !important;
    height: auto !important;
}

.aspect-1-1 {
    @extend .aspect-ratio;
    padding-bottom: 100% !important;
}

/**
 * Wide
 */
.aspect-2-1 {
    @extend .aspect-ratio;
    padding-bottom: 1 / 2 * 100% !important;
}
.aspect-4-3 {
    @extend .aspect-ratio;
    padding-bottom: 3 / 4 * 100% !important;
}
.aspect-5-4 {
    @extend .aspect-ratio;
    padding-bottom: 4 / 5 * 100% !important;
}
.aspect-16-9 {
    @extend .aspect-ratio;
    padding-bottom: 9 / 16 * 100% !important;
}
.aspect-16-10 {
    @extend .aspect-ratio;
    padding-bottom: 10 / 16 * 100% !important;
}

/**
 * Tall
 */
.aspect-3-4 {
    @extend .aspect-ratio;
    padding-bottom: 4 / 3 * 100% !important;
}