.card {
    @extend %elevated;
    max-width: $max-card-width;
    width: 100%;
    min-width: 300px;
    height: auto;
    background: var(--card-background);
    margin: 0 0 $card-spacing;
    transition: all $transition-duration ease-in-out;
}

.card.noalign {
    margin: 0 0 $card-spacing;
}

.card-title {
    margin: 0;
    text-align: left;
    color: var(--text-primary);
}

.card-title.noimage {
    margin-bottom: $smallgap;
}

.card-title-area {
    padding: 12px 16px;
}
.card-title-area-raised {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    background: var(--card-header-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.card-description {
    margin: 0 0 16px;
}

.card-content {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: padding $transition-duration;
    overflow-y: hidden;
}

.card-image {
    min-height: 240px;
    flex-grow: 10;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: height $transition-duration;
}

.card-timestamp {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 1.4;
}

.card.preview {
    max-height: $preview-height;
    border-radius: 0;
}

@media screen and (min-width: $screen-narrow) {
    .card.preview {
        border-radius: $corner-radius;
    }
}

@media screen and (min-width: $screen-narrow) {
    .flex-row .card {
        margin: 0 calc($card-spacing / 2) $card-spacing;
        border-radius: $corner-radius;
    }
    .card {
        border-radius: $corner-radius;
    }
    .card-image {
        border-top-left-radius: $corner-radius;
        border-top-right-radius: $corner-radius;
    }
    .card-content {
        padding: $padding-large $padding-large 24px;
    }
}

@media screen and (min-width: $screen-wide) {
    .card-image {
        min-height: $preview-width * 0.85;
    }
    .card-title-area-raised {
        padding: 12px 72px;
    }
    .card-content {
        padding: 24px 24px 36px;
    }
}

@media screen and (max-width: $screen-two-columns) {
    .wrap {
        width: 100%;
    }
}

.card-buttons {
    @extend .flex-row-end;
    position: relative;
}

.card-button {
    @extend .button;
}

.wrap {
    max-width: 100%;
    height: min-content;
    width: max-content;
}
