.changelog {
    border-left: solid 2px var(--item-primary);
    padding-left: 8px;
    margin-bottom: 4px;
}

.changelog-section-title {
    font-size: 1.3rem;
}

.changelog-title-row {
    align-items: baseline;
}

.changelog-title {
    line-height: 1rem;
    margin: 0;
}

.changelog-tagline {
    @extend .tagline;
}

.changelog-date {
    margin: 0 $gap;
}

// .changelog-tags {
    
// }

.changelog-content {
    font-size: $smalltext;
}

.changelog-content ul {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

// .changelog-content li {
    // margin-bottom: 0.3rem;
// }