.light {
    color: $light;
}

.light.secondary {
    color: var(--text-light-secondary);
}

.light.tertiary {
    color: var(--text-light-tertiary);
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.tertiary {
    color: $tertiary;
}


.dark {
    color: $dark;
}

.dark.secondary {
    color: var(--text-dark-secondary);
}

.dark.tertiary {
    color: var(--text-dark-tertiary);
}

.warn {
    color: $warn;
}

:root {
    --black: #000000;
    --white: #ffffff;
}
