// Variables that may appear in multiple stylesheets

$accent: var(--accent-color);
$light: var(--text-light-primary);
$dark: var(--text-dark-primary);
$primary: var(--text-primary);
$secondary: var(--text-secondary);
$tertiary: var(--text-tertiary);
$warn: var(--warn);

$title-font: 'Oswald', sans-serif;
$content-font: 'Open Sans', sans-serif;
$monospace-font: 'Roboto Mono', monospace;
$font: $content-font;
$font-size: 20px;
$normaltext: $font-size;
$midtext: .9rem;
$smalltext: .8rem;
$changelog-text-size: $midtext;

$header-row-padding: 16px;

$icon-small: 24px;
$icon-large: 36px;
$download-icon-size: $icon-small;
$related-app-icon-size: 3rem;

$gap: 8px;         // Space between groups of things
$smallgap: 6px;    // Space between items in a group

$transition-duration: 300ms;

$padding-small: 8px;
$padding-large: 16px;

$corner-radius: 6px;
$preview-width: 360px;
$preview-height: $preview-width * 1.35;
$card-spacing: $padding-large;
$max-card-width: 1200px;

// @media screen width values
$screen-single-fill: 0px;
$screen-single-column: ($preview-width + $card-spacing) + ($card-spacing * 4);; // Below this size, content should fill the entire width.
$screen-two-columns: (($preview-width + $card-spacing) * 2) + ($card-spacing * 4);
$screen-three-columns: (($preview-width + $card-spacing) * 3) + ($card-spacing * 4);
$screen-four-columns: (($preview-width + $card-spacing) * 4) + ($card-spacing * 4);
$screen-max-columns: $screen-four-columns;

$screen-narrow: $screen-single-column;
$screen-mid: $screen-two-columns;
$screen-wide: $screen-three-columns;

// Webmentions
$wm-avatar-default: 48px;
$wm-avatar-large: 72px;