.notes-container {
    @extend %preview-list;
    // @extend .card;
    // @extend .preview;
    // @extend .nobackground;
    // @extend %scrolling-list;
    // @extend .card-content;

    // display: block;

    // overflow-y: auto;
    margin-bottom: $smallgap;
}


.note {
    margin-bottom: .9em;
    font-size: $smalltext;
}