@import 'constants';
@import 'objects/headers';
@import 'objects/inputs';
@import 'objects/lists';
@import 'objects/tables';
@import 'fonts';

html {
    background: var(--tabletop);
    transition: background 300ms;
}

body {
    @extend .normaltext;
    padding: 0;
    margin: 0;
}

p, .p {
    margin: .2rem 0 .8rem;
}

main {
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--item-accent);
}

a > * {
    color: var(--text-primary);
}

pre, pre code {
    font-family: 'Roboto Mono', monospace;
    overflow-x: scroll;
    color: var(--code-text);
    background-color: var(--code-background);
}

pre {
    padding: 8px;
    margin-bottom: 2rem;
}

code {
    white-space: pre;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
    width: 80%;
    max-width: 200px;
}

label, .label {
    font-size: .7rem;
    color: var(--text-secondary);
    font-weight: 600;
}

label:focus {
    outline: none;
}

section {
    margin-bottom: 48px;
}

@media only screen and (min-width:480px) {
    body {
        font-size: 16px;
        transition: font-size $transition_duration;
    }
}