// Vertical layout
.preview {
    
}

.preview-content {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: padding 300ms;
}

// Horizontal layout
.preview-h {
    margin-right: $gap;
    margin-bottom: $gap;
    // min-width: 394px;
    max-width: 472px;
    // width: 472px;
    // max-width: 90%;
    align-items: start;
}

.preview-h-image {
    max-width: 200px;
    max-height: 200px;
    min-width: 60px;
    min-height: 60px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 12px;
}

.preview-h-image svg {
    max-width: 200px;
    max-height: 200px;
    min-width: 60px;
    min-height: 60px;
}

@media screen and (min-width: 480px) {
    .preview {
        max-width: $preview-width;
    }
    .preview-h {
        margin-right: $gap;
        margin-bottom: $gap;
        min-width: 394px;
        max-width: 472px;
        align-items: center;
    }
    .preview-h-image {
        min-width: 100px;
        min-height: 100px;
    }
    
    .preview-h-image svg {
        max-width: 200px;
        max-height: 200px;
        min-width: 100px;
        min-height: 100px;
    }
}