.tooltip {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.tooltip-popup {
    font-size: $midtext;
    opacity: 0;
    color: var(--item-accent-foreground);
    background: var(--item-accent);
    padding: 8px;
    border-radius: $corner-radius;
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transform-origin: top center;
}

.tooltip:hover .tooltip-popup {
    opacity: 1;
    animation-name: tooltip;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-fill-mode: none;
    text-align: center;
    white-space: nowrap;
    left: 50%;
    transform: scale(1) translateX(-50%);
    opacity: 1;
    visibility: visible;
}

@keyframes tooltip {
    0% {
        transform: scale(0) translateX(-50%);
        opacity: 0;
        visibility: hidden;
        left: 0;
    }
    1% {
        visibility: visible;
    }
    50% {
        left: 50%;
        transform: scale(.99) translateX(-50%);
    }
}

@media (max-width: $screen-narrow) {
    .tooltip:hover .tooltip-popup {
        position: fixed;
        bottom: 32px;
        padding: 16px;
        width: 80%;
        transform-origin: bottom center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
            0 3px 1px -2px rgba(0, 0, 0, .2),
            0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    @keyframes tooltip {
        0% {
            transform: scale(0) translateX(-50%);
            opacity: 0;
            visibility: hidden;
        }
        1% {
            visibility: visible;
        }
        50% {
            transform: scale(.99) translateX(-50%);
        }
    }
}