body {
    margin-top: 0;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
}

input[type="text"],
textarea {
    min-width: 30ch;
    max-width: 80ch;
    resize: both !important;
    font-family: monospace;
    border: 2px solid;
    border-radius: 6px;
}

textarea:not(.charfield) {
    min-height: 10rem !important;
    max-height: unset !important;
}

.checkbox-row {
    display: flex;
    align-items: center;
    padding: 8px;

    input[type="checkbox"] {
        display: block;
    }

    .vCheckboxLabel {
        width: -webkit-fill-available;
        padding: 0 0 0 5px;
    }
}

.readonly {
    font-family: monospace;
    max-height: 10rem;
}
