:root {
    --secondary: var(--primary-100);
    --header-bg: var(--primary-900);
    --border-color: var(--accent-100);
    --link-fg: var(--accent);
    --link-hover-color: var(--accent-900);
    --default-button-bg: var(--primary);
    --button-hover-bg: var(--primary-900);
    --selected-row: var(--accent-100);
    --header-color: var(--text-light-primary);
    --delete-button-bg: var(--red);
    --error-fg: var(--red);
}

::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
}

input[type="text"],
textarea {
    min-width: 30ch;
    max-width: 80ch;
    resize: both;
}

#header {
    color: var(--text-light-primary);

    #branding {
        h1 {
            a,
            a:visited {
                color: var(--text-light-primary);
                font-size: var(--fs-h1);
            }
        }
    }

    #user-tools {
        font-size: var(--fs-500);
    }
}
