@import 'constants';
@import 'fonts';
@import 'chrome';   // Browser decoration: scrollbars, etc
@import 'objects';  // HTML elements: body, main, h1, etc
@import 'util';

@import 'tagline';
@import 'card';
@import 'flex';
@import 'code';
@import 'colors';
@import 'header';
@import 'icons';
@import 'footer';
@import 'loading';
@import 'aspect-ratios';
// @import 'colors-material';
@import 'preview';
@import 'app-links';
@import 'article';
@import 'app';
@import 'webmention';
@import 'related';
@import 'changelog';
@import 'text';
@import 'tags';
@import 'search';
@import 'tooltip';
@import 'chip';
@import 'background';  // background-image size and alignment
@import 'util';
@import 'item';     // apply per-page color scheme, defined in style#local_style tag
@import 'tile';

.title {
    font-size: 2rem;
    color: var(--header-text-color);
}
.accent {
    color: var(--item-accent);
}
.container {
    max-width: 1030px;
    padding: 16px 0 8px;
    margin: auto;
    transition: width 300ms;
}

@media only screen and (min-width:480px) {
    .container {
        width: 90vw;
    }
}

@media only screen and (min-width:1120px) {
    .container {
        max-width: 1008px;
    }
}