:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);
    --text-light: var(--text-light-primary);
    --text-dark: var(--text-dark-primary);

    --text-primary: var(--text-light-primary);
    --text-secondary: var(--text-light-secondary);
    --text-tertiary: var(--text-light-tertiary);

    --text-primary-invert: var(--text-dark-primary);
    --text-secondary-invert: var(--text-dark-secondary);
    --text-tertiary-invert: var(--text-dark-tertiary);

    --primary: #4b495d;
    --on-primary: var(--text-light);
    --accent: #f18b8d;
    --on-accent: var(--text-light);

    --local-primary: var(--primary);
    --local-on-primary: var(--text-light);
    --local-accent: var(--accent);
    --local-on-accent: var(--text-light);

    --selected: #888888;
    --hover: rgba(255, 255, 255, 0.08);

    // --header-background-color: #070707;
    // --header-background-color-hover: #111111;
    // --header-text-color: var(--text-light-primary);

    // --table-background: #272727;
    // --table-text: var(--text-light-primary);

    // --code-background: #272727;
    // --code-text: var(--text-light-primary);

    // Embedded things that could sort of be a card of their own but are already in a parent card
    // e.g. tables
    --embedded-background: #272727;
    --embedded-background-highlight: #555555;
    --embedded-text-primary: var(--text-light-primary);
    --embedded-text-secondary: var(--text-light-secondary);
    --embedded-text-tertiary: var(--text-light-secondary);

    // --card-header-color: var(--primary_color);

    --appname: var(--local-accent);

    --red: #ee4545;
    --blue: #0e70b8;
    --green: #16b06b;
    --purple: #823dae;
    --pink: #e13255;
    --yellow: #fdf472;
    --orange: #d86900;
    --grey: #636363;

    // v2
    --background: #252225;
    --on-background: var(--text-primary);
    --surface: #31303a;
    --on-surface: var(--text-primary);
    --warn: #f44336;
    --on-warn: var(--text-light);

    --input-text-background: var(--hover);
}
