:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);
    --text-light: var(--text-light-primary);
    --text-dark: var(--text-dark-primary);

    --text-primary: var(--text-light-primary);
    --text-secondary: var(--text-light-secondary);
    --text-tertiary: var(--text-light-tertiary);

    --text-primary-invert: var(--text-dark-primary);
    --text-secondary-invert: var(--text-dark-secondary);
    --text-tertiary-invert: var(--text-dark-tertiary);

    --primary-100: #8783a8;
    --primary-400: #4b495d;
    --primary-900: #353442;
    --primary: var(--primary-400);
    --on-primary-100: var(--text-dark);
    --on-primary-400: var(--text-light);
    --on-primary-900: var(--text-light);
    --on-primary: var(--on-primary-400);

    --accent-100: #f0d4d5;
    --accent-400: #f18b8d;
    --accent-900: #734343;
    --accent: var(--accent-400);
    --on-accent-100: var(--text-dark);
    --on-accent-400: var(--text-light);
    --on-accent-900: var(--text-light);
    --on-accent: var(--on-accent-400);

    --local-primary-400: var(--primary-400);
    --local-primary-100: var(--primary-100);
    --local-primary-900: var(--primary-900);
    --local-primary: var(--local-primary-400);

    --local-on-primary-100: var(--local-primary-900);
    --local-on-primary-400: var(--text-light);
    --local-on-primary-900: var(--local-primary-100);
    --local-on-primary: var(--text-light);

    --local-accent-400: var(--accent-400);
    --local-accent-100: var(--accent-100);
    --local-accent-900: var(--accent-900);
    --local-accent: var(--local-accent-400);
    accent-color: var(--locla-accent);

    --local-on-accent-100: var(--local-accent-900);
    --local-on-accent-400: var(--text-light);
    --local-on-accent-900: var(--local-accent-100);
    --local-on-accent: var(--local-on-accent-400);

    --hover: rgba(13, 8, 8, 0.08);

    --white: #ffffff;
    --black: #000000;
    --red: #ee4545;
    --blue: #0e70b8;
    --green: #16b06b;
    --purple: #823dae;
    --pink: #e13255;
    --yellow: #fdf472;
    --orange: #d86900;
    --grey: #636363;

    // v2
    --background: #252225;
    --on-background: var(--text-primary);
    --surface: #31303a;
    --on-surface: var(--text-primary);
    --warn: #f44336;
    --on-warn: var(--text-light);

    --input-text-background: var(--hover);
}
