:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);
    
    --text-primary: var(--text-light-primary);
    --text-secondary: var(--text-light-secondary);
    --text-tertiary: var(--text-light-tertiary);
    
    --text-primary-invert: var(--text-dark-primary);
    --text-secondary-invert: var(--text-dark-secondary);
    --text-tertiary-invert: var(--text-dark-tertiary);
    
    --primary-color: #070707;
    --item-primary: var(--primary-color);
    
    --accent-color: #823DAE;
    --accent-color-highlight: #A973CD;
    --accent: var(--accent-color);
    --item-accent: var(--accent-color);

    --item-foreground: var(--text-light-primary);
    --item-accent-foreground: var(--text-light-primary);
    
    --selected: #aaaaaa;
    --hover: rgba(255,255,255, .08);
    
    --backsheet: #111111;
    --tabletop: #070707;
    
    --header-background-color: #070707;
    --header-background-color-hover: #111111;
    --header-text-color: var(--text-light-primary);
    
    --card-background: #222222;
    --card-background-hover: #555555;
    --card-separator: rgba(255, 255, 255, .12);
    
    --card-background-invert: #ffffff;
    --card-background-hover-invert: #eeeeee;
    --card-separator-invert: rgba(0, 0, 0, .12);
    
    --table-background: #444444;
    --table-text: var(--text-light-primary);
    
    --code-background: #444444;
    --code-text: var(--text-light-primary);
    
    // Embedded things that could sort of be a card of their own but are already in a parent card
    // e.g. tables
    --embedded-background: #444444;
    --embedded-background-highlight: #555555;
    --embedded-text-primary: var(--text-light-primary);
    --embedded-text-secondary: var(--text-light-secondary);
    --embedded-text-tertiary: var(--text-light-secondary);
    
    --card-header-color: var(--primary_color);

    --appname: var(--item-accent);
    --warn: #f44336;
}