:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);

    --text-primary: var(--text-dark-primary);
    --text-secondary: var(--text-dark-secondary);
    --text-tertiary: var(--text-dark-tertiary);

    --text-primary-invert: var(--text-light-primary);
    --text-secondary-invert: var(--text-light-secondary);
    --text-tertiary-invert: var(--text-light-tertiary);

    --primary-color: var(--text-primary);
    --item-primary: var(--primary-color);

    --accent-color: #e13255;
    --accent-color-highlight: #e64c4c;
    --accent: var(--accent-color);
    --item-accent: var(--accent-color);
    --accent-background: var(--accent-color-highlight);

    --item-foreground: var(--text-light-primary);
    --item-accent-foreground: var(--text-light-primary);

    --selected: #a4ddfb;
    --hover: rgba(0, 0, 0, 0.08);

    --backsheet: #f5f5f5;
    --tabletop: #eeeeee;

    --header-background-color: #eeeeee;
    --header-background-color-hover: #e5e5e5;
    --header-text-color: var(--text-dark-primary);

    --card-background: #ffffff;
    --card-background-hover: #eeeeee;
    --card-separator: rgba(0, 0, 0, 0.12);

    --card-background-invert: #222222;
    --card-background-hover-invert: #555555;
    --card-separator-invert: rgba(255, 255, 255, 0.12);

    --table-background: #444444;
    --table-text: var(--text-light-primary);

    --code-background: #444444;
    --code-text: var(--text-light-primary);

    // Embedded things that could sort of be a card of their own but are already in a parent card
    // e.g. tables
    --embedded-background: #444444;
    --embedded-background-highlight: #555555;
    --embedded-text-primary: var(--text-light-primary);
    --embedded-text-secondary: var(--text-light-secondary);
    --embedded-text-tertiary: var(--text-light-secondary);

    --card-header-color: var(--primary_color);

    --appname: var(--item-accent);
    --warn: #f44336;

    --red: #ee4545;
    --blue: #0e70b8;
    --green: #16b06b;
    --purple: #823dae;
    --pink: #e13255;
    --yellow: #fdf472;
    --orange: #d86900;
    --grey: #636363;
}
