@use "v2/theme";
@use "v2/layout";

.staff {
    @extend %text-small;
    @include layout.row($horizontal: flex-end);

    .staff-links {
        @extend %shape-small;
        background-color: var(--primary-100);

        a {
            @extend %nolink;
            @extend %padding-link;
            @extend %hover;
            font-variant: all-small-caps;
        }

        .material-icons {
            cursor: pointer;
            @extend %padding-link;
            @extend %hover;
        }
    }
}
