%row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin row($horizontal: flex-start, $vertical: center, $wrap: wrap, $gap: 0) {
    @extend %row;
    justify-content: $horizontal;
    align-content: $vertical;
    flex-wrap: $wrap;
    gap: $gap;
}

.row {
    @extend %row;
}
