@mixin clipped-text($max-lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $max-lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: clip;
}

%text-one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

%text-noclip {
    white-space: normal;
    overflow: auto;
}
